/*============================================================================
                          ADD ADDONS/CUSTOMIZATIONS BELOW
==============================================================================*/

/* 100% WIDTH POST ENTRIES
---------------------------*/
.link, .link.last-clicked {
    width: 100%;
}

.link.odd {
    padding-right: 0;
    border-right: 0;
}

.link.even {
    border-left: 0;
}

body > .content .link.even.thing .midcol {
    margin-left: -3px;
}

.link.even .entry {
    margin-left: 130px;
}

/* CUSTOMIZED HEADER
---------------------------*/
#header {
    height: 250px;
    background-position: center center;
    border-bottom: 0;
}

#header .pagename a {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding: 10px 0 10px 10px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#header:before {
    padding: 0 20px;
    background: url(%%overlay%%),linear-gradient(45deg,#6093c4 20%, #46a6b5 80%);
    display: block;
    overflow: hidden;
    position: relative;
    bottom: -250px;
    margin-top: 0;
    height: 50px;
    border: 0;
    line-height: 45px;
    white-space: nowrap;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    content: "";
}

.side {
    margin: 50px 30px 0 0;
    padding: 15px 10px 10px 10px;
}

#header #header-img {
    bottom: -37px;
    width: 22px;
    height: 22px;
    background: url(%%spritesheet%%) -146px -148px;
}

.modtools-page>div.content, .res.res-commentBoxes body>.content, body>.content {
    margin: 10px 0 0 30px;
}

.side .md>h3:first-of-type, body>.content:before {
    background: none;
}

#header .pagename {
    top: 113px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%)
}

#header .pagename:after {
    display: block;
    margin-top: 40px;
    margin-left: 0
}

#header #header-bottom-right {
    bottom: -66px;
}

.side .md a[href="#headerbutton"] + a {
    top: 350px
}

.side .md > h3:first-of-type {
    top: 410px
}

@media ( max-width: 1100px) {
    #header:before {
        bottom: -220px;
    }

    #header .tabmenu {
        top: 220px;
    }

    .side {
        margin: 50px 0 0 0;
    }

    /*
        This mobile-friend click button to toggle show navigation buttons
    */
    .side .md > blockquote:nth-of-type(1) {
        top: 160px;
        left: 70px;
    }

    #header:target + .side .md > blockquote:nth-of-type(1) {
        top: 185px
    }

    body>.content {
        margin: 10px 0 0 0 !important;
        max-width: calc(100vw - 320px)!important;
    }
}

#header-bottom-right #mail,
#header-bottom-right #modmail,
#header-bottom-right #openRESPrefs .gearIcon,
#header-bottom-right .logout a,
#header-bottom-right .pref-lang,
#header-bottom-right .user > a {
    width: 18px !important;
    height: 18px !important;
    margin: 30px 35px 0 0 !important;
}

#header-bottom-right .logout a {
    margin: 30px 24px 0 0 !important;
}

#header-bottom-right .user>a {
    background-position: -157px -204px;
}

#header-bottom-right #mail.nohavemail {
    background-position: -116px -224px;
}

/*
<a title="new mail!" href="https://www.reddit.com/message/unread/" class="havemail" id="mail">messages</a>
*/
#header-bottom-right #mail.havemail {
    background-position: -55px -225px;
}

#header-bottom-right #modmail {
    background-position: -32px -204px;
}

#header-bottom-right .pref-lang {
    background-position: -116px -205px;
}

#header-bottom-right #openRESPrefs .gearIcon {
    background-position: -76px -225px;
}

#header-bottom-right .logout a {
    background-position: -56px -205px;
}

#header-bottom-right #mail.havemail:after, #header-bottom-right #modmail.havemail:after {
    top: -10px;
    left: -10px;
    width: 38px;
    height: 38px;
}

#header-bottom-right a.message-count {
    top: 0;
}

/* DROPDOWN MENUS
-------------------------*/
.RESDropdownList ul.RESDropdownOptions li > a {
    padding: 0 10px;
}

.res .RESDropdownList li {
    height: 32px;
    line-height: 32px;
    padding: 0;
}

.res .RESDropdownList {
    min-width: 200px;
}

.res .RESDropdownList li > a {
    color: #32383f !important;
}

.res .RESDropdownList li:hover, .RESDropdownList li a:hover {
    background: rgba(50,58,71,.1);
    color: #32383f;
}

.res .RESDropdownList li a span.RESMenuItemButton {
    display: none;
}

.res .RESDropdownList li > div {
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
}

.res .RESDropdownList ul li span#RESSearchMenuItem {
    display: none;
}

.RESDropdownList #DashboardLink a {
    padding-left: 0;
}

.RESDropdownList .toggleButton {
    margin-right: 0;
    margin-top: -1px;
}

.RESDropdownList #nsfwSwitchToggleContainer span, .RESDropdownList #nightSwitchToggleContainer span {
    padding: 0 1px;
    width: 30px;
    font-size: 10px;
}

.RESDropdownList #nightSwitchToggleContainer.toggleButton .toggleOn,
.RESDropdownList #nsfwSwitchToggleContainer.toggleButton .toggleOn,
.RESDropdownList #nightSwitchToggleContainer.toggleButton .toggleOff,
.RESDropdownList #nsfwSwitchToggleContainer.toggleButton .toggleOff {
    border-radius: 0;
}

/* Dirty hack to get rid of the stupid up-arrow for donate button */
.RESDropdownOptions .RES-donate {
    font-size: 0;
    padding: 0;
}
.RESDropdownOptions .RES-donate:before {
    font-size: 11px;
    content: 'Donate to RES';
    padding: 0 10px 0 0;
}

/* HEADER MENU OUR OWN SHIT
-------------------------*/

#header .tabmenu {
    position: absolute;
    left: 70px;
    top: 250px;
    margin: 0;
    min-width: 210px;
    padding-top: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    transition: box-shadow .5s
}

#header .tabmenu:hover, #header:target .tabmenu {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

#header .tabmenu li {
    display: block;
    margin: 0;
    padding: 0 10px;
    background: #fff;
    font-weight: 400;
    opacity: 0;
    transition: .3s
}

#header .tabmenu li:last-of-type {
    padding-bottom: 10px
}

#header .tabmenu:hover li, #header:target .tabmenu li, #header .tabmenu li:first-child {
    opacity: 1
}

#header .tabmenu li a {
    display: block;
    overflow: hidden;
    height: 0;
    border: 0;
    padding: 0 10px;
    line-height: 0;
    background: #fff;
    color: transparent;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transition-property: height, line-height, color;
    transition-property: height, line-height, color
}

#header .tabmenu:hover li a, #header:target .tabmenu li a {
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    line-height: 40px;
    color: #32383f
}

#header .tabmenu li a:hover, #header .tabmenu:hover li:first-child a:hover, #header:target .tabmenu li:first-child a:hover {
    background: rgba(50, 58, 71, .1)
}

#header .tabmenu li:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    background: none
}

#header .tabmenu li:first-child a {
    width: 100%;
    height: 40px;
    border: 0;
    background: none;
    line-height: 40px;
    color: #fff;
    opacity: 1;
    transition: .3s color
}

#header .tabmenu:hover li:first-child, #header:target .tabmenu li:first-child {
    background: #fff
}

#header .tabmenu:hover li:first-child a, #header:target .tabmenu li:first-child a {
    color: #32383f
}

#header .tabmenu li:first-child a:after {
    content: " ▾"
}

#header .tabmenu:hover li:first-child a:after, #header:target .tabmenu li:first-child a:after {
    color: transparent
}

#header .tabmenu li:first-child a, #header .tabmenu:hover li a, #header:target .tabmenu li a {
    height: 32px;
    line-height: 32px;
}

#header .tabmenu {
    padding-top: 42px;
}

.search-page #header .tabmenu {
    box-shadow: none;
    padding-top: 0;
    background: none
}

.search-page #header .tabmenu li {
    padding-bottom: 0;
    background: none;
    opacity: 1
}

.search-page #header .tabmenu li a {
    height: 32px;
    border: 0;
    background: none;
    line-height: 32px;
    color: #fff
}

.search-page #header .tabmenu:hover li:only-child, .search-page #header .tabmenu:hover li:only-child a,
.search-page #header:target .tabmenu li:only-child, .search-page #header:target .tabmenu li:only-child a {
    background: none;
}

.search-page #header .tabmenu:hover li:only-child a, .search-page #header:target .tabmenu li:only-child a {
    color: #fff;
}

.search-page #header .tabmenu li:only-child a:after {
    content: '';
}

#header .tabmenu li.res-tabmenu-button.selected:not(:only-child):not(:first-child) a {
    font-weight: 600;
}

/* ALWAYS VISIBLE USERBAR
-------------------------*/
#header-bottom-right:after {
    display: none;
}

#header-bottom-right .user > a,
#header-bottom-right #mail,
#header-bottom-right #modmail,
.ChatApp__reddit-icon,
#header-bottom-right .pref-lang,
#header-bottom-right #openRESPrefs .gearIcon,
#header-bottom-right .logout a {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none
}

/* PAGENAME SUBTITLE
--------------------*/
#header .pagename:after {
    content: ""
}

/* NO HEADER TINT
-----------------*/
#header {
    background-image: url(%%header%%)
}

/* SEARCH LINE PADDING
--------------------*/

#searchexpando label:first-child {
    margin-bottom: 6px;
}

/* SEARCH EXPANDO SELECT AND LABEL MARGIN
--------------------*/

#searchexpando label select[name='sort'], #searchexpando label select[name='t'] {
    margin-left: 5px;
}

#searchexpando label + br + label, #searchexpando label + br + label + label {
    padding: 0 5px;
}

/* UNSTYLED SEARCH PAGE ELEMENTS
--------------------*/

#previoussearch ul.res-search-tabs li {
    background: #434b55;
}

#previoussearch ul.res-search-tabs li a {
    border-color: #4c5561;
}

.res-searchHelper-searchPageTabs .combined-search-page #previoussearch .res-search-pane {
    background: #434b55;
    border-top: 1px solid #4c5561;
}

.search-result-meta span.search-subscribe-button a.active.option,
.search-result-meta span.search-subscribe-button a.active.option.remove,
.search-result-meta span.private-stamp {
    height: 18px;
    line-height: 18px;
    font-weight: normal;
    padding: 0 8px;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
}

.search-result-meta span.private-stamp {
    border: 1px solid;
}


.search-result-subreddit .search-result-header  {
    text-transform: uppercase;
}

.search-result-subreddit .search-result-meta {
    margin: 4px 0;
}

.search-result-subreddit .search-result-meta a.search-subreddit-link {
    margin-left: 4px;
}

.search-result-group footer .nextprev .separator {
    display: none;
}

.search-result-group footer .nextprev {
    font-size: 0;
}

.search-result-body, .search-result-body .md, .search-result-body .md p {
    color: #fff;
    font-size: 12px;
}

.search-result-subreddit .search-result-footer span.search-result-icon {
    display: none;
}

/* Because apparently Reddit has .search-result-footer set to overflow: hidden */
.search-result-subreddit .search-result-footer {
    overflow: visible;
}

.search-result-subreddit .search-result-footer span.search-result-icon + a {
    padding: 3px 10px !important;
    margin-left: 0;
}


.search-result-subreddit .search-result-footer span.search-result-icon + a mark {
    color: inherit;
}

.search-result-header a.search-title > mark {
    line-height: inherit;
}

.combined-search-page .searchfacets {
    margin-bottom: 20px;
}

/* APICEM SMALL LIGHT BUTTONS
--------------------*/

button, .usertext .help-toggle a, .usertext a.reddiquette, .flair-jump button, body #userTaggerToolTip input[type=submit],
body #editShortcutDialog [name=shortcut-save], .wiki-page .wiki-page-content .wiki_button,
div.nav-buttons .nextprev a[rel="nofollow prev"], div.nav-buttons .nextprev a[rel="nofollow next"],
.search-result-subreddit .search-result-footer span.search-result-icon + a {
    border: 1px solid #fff;
    border-radius: 0;
    padding: 5px 10px;
    background: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: #32383f;
    transition: .2s
}

button:hover, .flair-jump button:hover {
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.8)
}

button.cancel, button[name="preview"], .usertext .help-toggle a, .usertext a.reddiquette,
div.nav-buttons .nextprev a[rel="nofollow prev"], div.nav-buttons .nextprev a[rel="nofollow next"],
.search-result-subreddit .search-result-footer span.search-result-icon + a {
    color: #fff;
    background: none;
    transition: .2s
}

button.cancel:hover, button[name="preview"]:hover, .usertext .help-toggle a:hover, .usertext a.reddiquette:hover, .content button.RESBigEditorPop:hover,
div.nav-buttons .nextprev a[rel="nofollow prev"]:hover, div.nav-buttons .nextprev a[rel="nofollow next"]:hover {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, .1)
}

/* Slightly less eye-catching colors */
.search-result-subreddit .search-result-footer span.search-result-icon + a {
    color: #c3c3c3;
    border: 1px solid #afafaf;
}

/* POST ENTRY ICONS / THUMBNAIL
--------------------*/

.thumbnail {
    position: relative
}

.thumbnail,
.thumbnail.self,
.search-result.has-thumbnail > .thumbnail,
.link .entry:before {
    -webkit-flex: none;
    flex: none;
    margin: 0;
    width: 80px;
    height: 80px !important
}

.thumbnail:after {
    position: absolute;
    top: 30px;
    left: 0;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: rgba(0, 0, 0, .4);
    pointer-events: none
}

/* NO THUMBNAIL ELEMENT */
body:not(.comments-page) .link :not(.thumbnail) + .entry:before {
    position: absolute;
    top: 9px;
    left: -81px;
    line-height: 64px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    color: rgba(0, 0, 0, .4);
    pointer-events: none;
    content: "•••";
    border-radius: 31px;
}

.link .thumbnail img {
    width: auto !important;
    height: 80px !important
}

.search-result.has-thumbnail > .thumbnail {
    margin-right: 10px
}

.search-result.has-thumbnail > .thumbnail.self,
.search-result.has-thumbnail > .thumbnail.default {
    margin-right: 28px; /* Default margin + compensating for narrower width (18px / 9px = 2x) */
}

.self .thumbnail img,
.thing.stickied .thumbnail img,
.comments-page .thing.stickied .thumbnail,
.comments-page .thumbnail.self,
.comments-page .over18 .thumbnail,
a.thumbnail[href*="reddit.com"] img {
    display: none
}

/* 62PX OVERWRITE START */
a.thumbnail[href*="reddit.com"],

.thing.stickied .thumbnail,
.link.stickied :not(.thumbnail) + .entry:before,

.thumbnail.self,
.link :not(.thumbnail) + .entry:before,
.thumbnail.default,

.over18 .thumbnail.nsfw,

.search-result.has-thumbnail > .thumbnail.self,
.search-result.has-thumbnail > .thumbnail.default {
    width: 62px;
    height: 62px !important;
    position: relative;
    top: 9px;
    left: 9px;
}

.link a.thumbnail[href*="reddit.com"] {
    background: url(%%spritesheet%%) -2px -367px;
}

.link a.thumbnail[href*="reddit.com"]:after, .over18.link .thumbnail:after {
    content: "";
}

.thumbnail.default {
    background: url(%%spritesheet%%) -133px -302px !important; /* remove important cuz testing */
}

.thumbnail.self {
    background: url(%%spritesheet%%) -68px -302px !important; /* remove important cuz testing */
}

.over18.link .thumbnail {
    background: url(%%spritesheet%%) -2px -302px !important; /* remove important cuz testing */
}

/* 62PX OVERWRITE END */

/* RES NSFW EXPANDO STYLE (THIS SHOULD BE IN CORE CSS FILE), CAUSED BY DIFFERENT RES CLASS?
--------------------*/

.res-showImages-highlightNSFWButton .thing.over18 .expando-button::before {
    position: absolute;
    left: 8px;
    top: 13.5px;
    width: 12px;
    height: 1px;
    background: #fff;
    content: "";
    transition: .3s;
}

/* CHECKBOX BACKGROUND-SIZE FIX
--------------------*/
#rem-login-main, .side .titlebox h1.redditname+div:before, input[type=checkbox], input[type=radio] {
    background: url(%%spritesheet%%) -2px -200px no-repeat #383F47;
}

select {
    background: url(%%spritesheet%%) right -188px top -248px no-repeat #383F47;
}

.res .RESUserTagImage::after {
    background: url(%%spritesheet%%) -4px -30px no-repeat;
}

/* CUSTOMIZED NSFW / STICKIED TAG
--------------------*/

.tagline .stickied-tagline, span.nsfw-stamp.stamp {
    background: #4f9c79;
    color: #f3f3f3;
    text-transform: uppercase;
    padding: 2px 5px;
    font-size: 10px;
}

span.nsfw-stamp.stamp {
    background: #c4918a;
    padding: 2px 6px;
}

.tagline .stickied-tagline {
    margin-left: 3px;
}

/* STICKIED POST TEXT WHEN VISITED
--------------------*/
.thing.stickied.link a.title:visited {
    color: #61c095 !important;
}

/* HIDING FLAIR AND UPVOTE COUNT WHEN STICKIED POST
--------------------*/
.link.stickied .tagline .flair {
    display: none;
}

.link.stickied .tagline .voteWeight {
    display: none !important;
}

/* HIDING RES ANNOUNCEMENT UPDATE IN NAV BAR
--------------------*/

#RESAnnouncementAlert {
    display: none;
}

/* COLORIZATION
---------------*/

/* PINK BORDERS
---------------*/
input[type=text]:focus,
textarea:focus,
input#url:focus { border-color: #6093c4 !important }

/* PINK BACKGROUNDS
-------------------*/
#header-bottom-right a.message-count,
.res .moduleToggle:not(.enabled) .toggleOff,
.res .toggleButton:not(.enabled) .toggleOff,
.side .fancy-toggle-button a.option.active,
#authorInfoToolTip .fancy-toggle-button a.option.active,
.fancy-toggle-button .add.active,
.res #RESHoverInfoSubscriptionButton,
#NERFail .nextprev a,
.next-suggestions a,
.res .RESSubscriptionButton,
.res .RESSubscriptionButton:hover,
button.search-submit-button.c-btn.c-btn-primary { background: #6093c4 !important; }

/* PINK TEXT
------------*/
body #header #sr-header-area .srdrop+.drop-choices.srdrop a.choice:hover,
.res #srList tbody tr:hover a,
.res #RESSubredditGroupDropdown li a:hover,
.res #RESSubredditGroupDropdown .RESShortcutsEditButtons .res-icon:hover,
.res #RESSubredditGroupDropdown .RESShortcutsCurrentSub a,
.md a:hover,
.flair-settings+.tabmenu li.selected a,
.error,
.morechildren .entry a.button[style*="color: red"],
.thing a.title:hover,
.link .entry .buttons li a:hover,
.link .redditSingleClick:hover,
.link .entry .buttons li a.comments,
.tabmenu.formtab .selected a,
.flat-list li.selected a { color: #6093c4 !important }

/* FLAIR SELECTION AND FLAIR IMPROVEMENTS
---------------*/

/* Elements you want to cut off text for */
.flairoptionpane ul li .flair,
.side a.author.flairselectable + span.flair {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.flairoptionpane ul li .flair {
    max-width: 270px;
    margin-left: 0;
}

.flairoptionpane ul {
    width: 270px !important;
    max-width: 270px;
}

.side a.author.flairselectable + span.flair {
    max-width: 160px;
}

.flairselector.drop-choices {
    padding: 4px 0 !important;
}

.flairselector form {
    padding: 5px 0 5px 0;
    overflow-x: auto;
}

.flairselector form input {
    padding: 0 8px;
    height: 23px;
    font-size: 11px;
}

.flairselector form span.status {
    font-size: 11px;
}

/* Custom WebKit scrollbar for few elements */

.flairselector form::-webkit-scrollbar, .flairoptionpane::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.flairselector form::-webkit-scrollbar-button, .flairoptionpane::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.flairselector form::-webkit-scrollbar-thumb, .flairoptionpane::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.flairselector form::-webkit-scrollbar-thumb:hover, .flairoptionpane::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

.flairselector form::-webkit-scrollbar-thumb:active, .flairoptionpane::-webkit-scrollbar-thumb:active {
    background: #b2b2b2;
}

.flairselector form::-webkit-scrollbar-track, .flairoptionpane::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.flairselector form::-webkit-scrollbar-track:hover, .flairoptionpane::-webkit-scrollbar-track:hover {
    background: #666666;
}

.flairselector form::-webkit-scrollbar-track:active, .flairoptionpane::-webkit-scrollbar-track:active {
    background: #333333;
}

.flairselector form::-webkit-scrollbar-corner, .flairoptionpane::-webkit-scrollbar-corner {
    background: transparent;
}

a.helplink.access-required + div.title + ul.content > li .flair {
    display: none;
}

/* HIDDING SUB AGE AND CREATOR
---------------*/

.side .bottom {
    display: none;
}

.side:after {
    content: "theme by /u/Cereal_Addict, modified by /u/iamncla"
}

/* TELEGRAM AND DISCORD BUTTONS
---------------*/

.side .md a[href="#button"] + a[href*="://telegram.me/joinchat/"],
.side .md a[href="#button"] + a[href*="://discord.gg/"] {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-indent: 1px;
}

.side .md a[href="#button"] + a[href*="://telegram.me/joinchat/"]:after,
.side .md a[href="#button"] + a[href*="://discord.gg/"]:after {
    background: url(%%spritesheet%%) no-repeat -3px -3px;
    position: absolute;
    top: 6px;
    right: -25px;
    width: 25px;
    height: 25px;
    content: "";
    transition: .4s
}

.side .md a[href="#button"] + a[href*="://discord.gg/"]:after {
    background: url(%%spritesheet%%) no-repeat -35px -3px;
}

.side .md a[href="#button"] + a[href*="://telegram.me/joinchat/"]:hover,
.side .md a[href="#button"] + a[href*="://discord.gg/"]:hover {
    text-indent: -10px;
}

.side .md a[href="#button"] + a[href*="://telegram.me/joinchat/"]:hover:after,
.side .md a[href="#button"] + a[href*="://discord.gg/"]:hover:after {
    right: 6px;
}

/* MINOR DETAIL CHANGE FOR VOTE BUTTONS
-----------------*/
body>.content .link.thing .midcol {
    margin-top: 12px;
}

.arrow {
    width: 15px;
    height: 15px;
    background: url(%%spritesheet%%) !important;
    margin: 3px auto;
    opacity: 0.7;
}

.arrow.up {
    background-position: -67px -247px !important;
}

.arrow.upmod {
    background-position: -84px -247px !important;
}

.arrow.down {
    background-position: -33px -247px !important;
}

.arrow.upmod, .arrow.downmod {
    opacity: 1;
}

.arrow.down {
    opacity: 0.5;
}

.arrow.down:hover, .arrow.up:hover {
    opacity: 1;
    transition: opacity 0.15s;
}

.arrow.downmod {
    background-position: -50px -247px !important;
    opacity: 1;
}

/* USER FLAIRS
-----------------*/

.flair {
    background: url(%%flairsheet%%) no-repeat -9999px;
    font-weight: normal;
    border: none;

    overflow: inherit;
    line-height: 26px;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 100%;
    color: #999;
}

.flair-ChrisFlair {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 0;

}

.flair-DomFlair {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -30px;
}

.flair-MattFlair {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -60px;
}

.flair-absflair {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -90px;
}

.flair-bharflair {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -120px;
}

.flair-dronesflair {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;

    background-position: 0 -150px;
}

.flair-oosflair {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -180px;
}

.flair-resflair {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -210px;
}

.flair-showbizflair {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -240px;

}

.flair-t2lflair {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -270px;
}

.flair-haarp {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -300px;
}

.flair-hullabaloo {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -330px;
}

.flair-pedro {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -360px;
}

.flair-creepydom {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -390px;
}

.flair-bluematt {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
    background-position: 0 -420px;
}