@import "../partials/core";
// APICEM small light buttons
// Core button styling
button,
button.cancel,
.usertext .help-toggle a,
.usertext a.reddiquette,
.flair-jump button,
body #userTaggerToolTip input[type=submit],
body #editShortcutDialog [name=shortcut-save],
.wiki-page .wiki-page-content .wiki_button,
div.nav-buttons .nextprev a[rel="nofollow prev"],
div.nav-buttons .nextprev a[rel="nofollow next"],
.search-result-subreddit .search-result-footer span.search-result-icon + a,
.res #authorInfoToolTip .blueButton,
.res #authorInfoToolTip .redButton,
.content button.RESBigEditorPop,
body.submit-page #newlink-with-image-upload .file-upload-button,
#report-action-form .c-submit-group button,
.subreddit-rules-page .subreddit-rule-add-form-buttons button,
#eu-cookie-policy button {
  border: 1px solid $specialSmallBtnsBorder;
  border-radius: 0;
  background: $specialSmallBtnsBg;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  font-family: inherit;
  color: $specialSmallBtnsFont;
  transition: .3s;
  padding: 5px 10px;

  &:hover {
    background-color: darken($specialSmallBtnsBg, 2);
    color: darken($specialSmallBtnsFont, 13);
    border-color: darken($specialSmallBtnsBorder, 11);
  }

  // http://stackoverflow.com/q/13466643 =)))
  &::-moz-focus-inner {
    border: 0;
  }
}

// Bit different buttons from the core ones
button.cancel,
button[name="preview"],
.usertext .help-toggle a,
.usertext a.reddiquette,
div.nav-buttons .nextprev a[rel="nofollow prev"],
div.nav-buttons .nextprev a[rel="nofollow next"],
.search-result-subreddit .search-result-footer span.search-result-icon + a,
.subscribe-button a.active,
.content button.RESBigEditorPop,
#report-action-form .c-submit-group button {
  border: 1px solid $specialSmallBtnsBorder;
  color: $specialBtnsFont2;
  background: none;
  transition: .3s;

  &:hover {
    background: none;
  }
}

// Specific heights for consistency
.usertext a.reddiquette,
.usertext .help-toggle a,
.content button.RESBigEditorPop,
.usertext button
{
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  padding: 0px 10px;
}

// RES Big Editor button + fix
.content button.RESBigEditorPop {
  margin-top: 5px;
  margin-left: 0;
  margin-right: 0;
}

// Fix for the borders for buttons on user-submitted text editor (Content Policy, Formatting Help etc)

.usertext .help-toggle, .usertext .help-toggle a, .usertext a.reddiquette {
  margin-left: 0;
  border-right: 0;
}

body:not(.res) .usertext .help-toggle a,
.res .usertext .bottom-area > :first-child
{
  border-right: 1px solid $specialSmallBtnsBorder;

  &:hover {
    border-right: 1px solid darken($specialSmallBtnsBorder, 11);
  }
}



// Slightly less eye-catching colors on search page
.search-result-subreddit .search-result-footer span.search-result-icon + a {
  border: 1px solid $specialBtnsLessBorder;
}

// Telegram and Discord buttons, special buttons

.md a[href="#bigbutton"] + a,
.md a[href="#button"] + a,
.md a[href="#specialbutton"] + a,
.md a[href="#bigspecialbutton"] + a {
  display: inline-block;
  margin: 10px;
  border: 1px solid $specialBtnsBorderColor;
  padding: 10px 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700
}

.md a[href="#bigbutton"] + a,
.md a[href="#button"] + a {
  color: $specialBtnsFont2 !important
}

.md a[href="#bigbutton"] + a:hover,
.md a[href="#button"] + a:hover {
  background-color: $specialBtnsHoverBg3;
}

.md a[href="#specialbutton"] + a,
.md a[href="#bigspecialbutton"] + a {
  background: $specialBtnsBgColor;
  border: 0;
  color: $specialBtnsFont !important;
}

.md a[href="#specialbutton"] + a:hover,
.md a[href="#bigspecialbutton"] + a:hover {
  //border: 1px solid transparent;
  background-color: $specialBtnsHoverBg;
}

.side .md a[href="#button"] + a,
.side .md a[href="#specialbutton"] + a {
  margin: 5px 0;
  width: 145px;
  padding: 11.5px 10px
}

.side .md a[href="#rightalign"] + a[href="#button"] + a,
.side .md a[href="#rightalign"] + a[href="#specialbutton"] + a {
  margin-left: 10px
}

.side .md a[href="#bigbutton"] + a,
.side .md a[href="#bigspecialbutton"] + a {
  margin: 5px 0;
  width: 300px;
  padding: 11.5px 10px
}

.side .md a[href="#button"] + a[href*="://telegram.me/joinchat/"],
.side .md a[href="#button"] + a[href*="://discord.gg/"],
.side .md a[href="#bigbutton"] + a[href$="#gigthread"],
.side .md a[href="#bigbutton"] + a[href$="#sotw"] {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-indent: 1px;

  &:after {
    background: url(%%spritesheet%%) no-repeat -3px -3px;
    position: absolute;
    top: 6px;
    right: -25px;
    width: 25px;
    height: 25px;
    content: "";
    transition: .4s;
  }

  &:hover {
    color: $specialBtnsFontHover2 !important; // pls no
  }
}

.side .md a[href="#bigbutton"] + a[href$="#gigthread"],
.side .md a[href="#bigbutton"] + a[href$="#sotw"] {
  &:after {
    transition: .4s;
    right: calc(50% - 20px);
    top: auto;
    bottom: -26px;
  }

  &:hover:after {
    bottom: 7px;
  }

  strong {
    position: relative;
    transition: 0.4s;
    bottom: 0px;
  }

  &:hover strong {
    bottom: 30px;
  }
}

.side .md a[href="#button"] + a[href*="://discord.gg/"]:after {
  background: url(%%spritesheet%%) no-repeat -35px -3px;
}

.side .md a[href="#bigbutton"] + a[href$="#gigthread"]:after {
  background: url(%%spritesheet%%) no-repeat -151px -3px;
}

.side .md a[href="#bigbutton"] + a[href$="#sotw"]:after {
  background: url(%%spritesheet%%) no-repeat -122px -3px;
}

.side .md a[href="#button"] + a[href*="://telegram.me/joinchat/"]:hover,
.side .md a[href="#button"] + a[href*="://discord.gg/"]:hover {
  text-indent: -10px;
}

.side .md a[href="#button"] + a[href*="://telegram.me/joinchat/"]:hover:after,
.side .md a[href="#button"] + a[href*="://discord.gg/"]:hover:after {
  right: 6px;
}

// Subscribe/unsubscribe, RES user info pop-up buttons

.side .fancy-toggle-button {
  display: block;
  margin: 0
}

.side .fancy-toggle-button a.option.active.add {
  color: $brightColorOnColorBgFont;
  background: url(%%overlay%%),
              linear-gradient(45deg,#5c9bc0 0%,#46a6b5 67%);
}

.side .fancy-toggle-button a.option.active {
  position: relative;
  float: right;
  margin-top: -50px;
  font-size: 0;
  z-index: 1;
  transition: .2s;
  background: $bgColor3;
}

.side .fancy-toggle-button a.option.active,
#authorInfoToolTip .fancy-toggle-button a.option.active,
.fancy-toggle-button .add.active,
.res #RESHoverInfoSubscriptionButton {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  border-radius: 0;
  width: auto;
  height: 30px;
  padding: 0 10px;
  background: $bgThemeColor1;
  line-height: 30px;
  text-transform: uppercase
}

#authorInfoToolTip .fancy-toggle-button {
  margin-bottom: 0
}

.side .fancy-toggle-button a.option:after {
  letter-spacing: 1px;
  font-size: 10px;
  content: "subscribe"
}

.side .fancy-toggle-button a.option:before {
  display: inline-block;
  letter-spacing: 1px;
  font-size: 10px;
  content: "un";
  margin-right: 0
}

.side .fancy-toggle-button a.option.add:before {
  margin-right: -15px;
  opacity: 0
}

.side .fancy-toggle-button a.option.add:active:before {
  -webkit-animation: remove 10s linear;
  -moz-animation: remove 10s linear;
  animation: remove 10s linear
}

@-webkit-keyframes remove {
  0% {
    opacity: 0
  }
  1% {
    margin-right: 8px
  }
  2% {
    margin-right: 0;
    opacity: 1
  }
  100% {
    margin-right: 0;
    opacity: 1
  }
}

@-moz-keyframes remove {
  0% {
    opacity: 0
  }
  1% {
    margin-right: 8px
  }
  2% {
    margin-right: 0;
    opacity: 1
  }
  100% {
    margin-right: 0;
    opacity: 1
  }
}

@keyframes remove {
  0% {
    opacity: 0
  }
  1% {
    margin-right: 8px
  }
  2% {
    margin-right: 0;
    opacity: 1
  }
  100% {
    margin-right: 0;
    opacity: 1
  }
}

.res .side .fancy-toggle-button a.option.active {
  margin-top: -83px
}

.fancy-toggle-button a.option.active.remove, .res .res-fancy-toggle-button.remove, .res .RESFilterToggle.remove {
  background: $bgColor3 !important
}

// SUBMIT BUTTONS
// Fancy gradient buttons for submit buttons
// TODO: Refactor the button stuff from everything.scss perhaps?
.side {
  .submit {
    .morelink a {
      background: url(%%overlay%%), linear-gradient(45deg, #4079a5 0%,#46a6b5 67%);
      border: 0;
      color: #f0f7ff;
      width: 300px;
    }

    .morelink a:before {
      content: '';
      width: 300px;
    }

    .morelink a:hover {
      text-indent: -5px;
    }
  }

  .submit-link .morelink a:before {
    content: 'submit a new link';
  }

  .submit-text .morelink a:before {
    content: 'submit a new text post';
  }

  .submit-text .morelink {
    float: none;
  }
}

// SPECIAL SIDE-BAR BUTTONS

.morelink a,
.sidecontentbox a.helplink,
.account-activity-box a {
  position: relative;
  width: 300px;
  height: 40px;
  border: 1px solid $specialBtnsBorderColor;
  background: none;
  text-align: center;
  line-height: 40px;
  color: $specialBtnsFont2;
  transition: color 0.4s, text-indent 0.4s;

  z-index: 1;

  &:hover {
    text-indent: -15px;
    color: $specialBtnsFontHover2;
  }

  &:after {
      position: absolute;
      top: 6px;
      right: -25px;
      width: 25px;
      height: 25px;
      background: url(%%spritesheet%%);
      content: "";
      transition: .4s;
  }

  &:hover:after {
    right: 8px;
  }



}

.morelink,
.account-activity-box {
  border: 0;
}

.morelink,
.sidecontentbox a.helplink,
.account-activity-box {
  height: 40px;
  background: none !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0;
  font-weight: 700;
}



.sidebox.create .morelink,
.sidecontentbox a.helplink,
.account-activity-box {
  font-size: 10px;
}




.sidecontentbox a.helplink,
.account-activity-box {
  letter-spacing: 1px;
}

.submit-text .morelink {
  margin-top: -50px;
  float: right;
}

.morelink:hover a,
.morelink a:hover {
  //color: $fontColor1;
}

.sidebox.submit.disabled .morelink a {
  width: 300px;
}

.sidebox.submit.disabled .morelink a:hover {
  text-indent: 0;
}

.morelink a:before {
  display: inline-block;
  width: 145px;
  font-size: 10px;
  letter-spacing: 1px;
}

.sidebox.submit.disabled .morelink a:before {
  width: 300px;
  content: "submissions restricted";
}

.sidecontentbox a.helplink:after {
  background-position: -40px -90px;
}

.sidebox.submit.disabled .morelink a:hover:after {
  right: -25px;
}

.morelink .nub {
  display: none;
}

.submit .morelink:after {
  position: absolute;
  top: 0;
  width: 144px;
  height: 40px;
  background: $bgButtonColor2;
  line-height: 40px;
  font-size: 11px;
  color: $fontColor1;
  content: "- - -"
}

.submit-link .morelink:after {
  left: 155px;
}

.submit-text .morelink:after {
  left: -154px;
}

.sidecontentbox a.helplink {
  float: none;
  margin: 0;
  margin-bottom: 10px;
  //color: $fontColor;
}

.sidebox.create .morelink a:after {
  background-position: -75px -90px;
}

.sidebox.create .morelink + .spacer {
  display: none;
}

.sidecontentbox a.helplink,
.account-activity-box a {
  display: inline-block;
  overflow: hidden;
}

.account-activity-box a:after {
  background-position: -5px -160px;
}

.submit-link .morelink a:after {
  background-position: -69px -3px;
}

.submit-text .morelink a:after {
  background-position: -98px -4px;
}

.morelink a:hover {
  text-indent: -15px;
}

.morelink a:hover:after {
  right: 4px;
}