@import "../partials/core";

.flair {
  background: url(%%flairsheet%%) no-repeat -9999px;
  font-weight: normal;
  border: none;

  overflow: inherit;
  line-height: 26px;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 100%;
  color: $fontColor;

  &.flair-ChrisFlair, &.flair-DomFlair, &.flair-MattFlair, &.flair-absflair, &.flair-bharflair, &.flair-dronesflair,
  &.flair-oosflair, &.flair-resflair, &.flair-showbizflair, &.flair-t2lflair, &.flair-haarp, &.flair-hullabaloo,
  &.flair-pedro, &.flair-creepydom, &.flair-bluematt, &.flair-reapers-single, &.flair-reapers-eyes, &.flair-psycho-man,
  &.flair-panic-matt, &.flair-madness-lyric, &.flair-exogenesis-art, &.flair-resistance-cd-art, &.flair-resistance-vinyl-art,
  &.flair-ud-art, &.flair-uprising-art, &.flair-motp-art, &.flair-invincible-art, &.flair-invincible-dvd-art, &.flair-koc-art,
  &.flair-starlight-cd-art, &.flair-starlight-dvd-art, &.flair-smbh-art, &.flair-bandh-cd-art, &.flair-bandh-dvd-art,
  &.flair-sfa-dvd-art, &.flair-ss-cd-art, &.flair-hyper-music-cd-art, &.flair-new-born-cd-art, &.flair-pib-cd-art,
  &.flair-sunburn-cd-art, &.flair-mm-cd-art, &.flair-cave-cd-art, &.flair-deadstar-cd-art, &.flair-newkindofkick-mattanddom,
  &.flair-psycho-sergeant, &.flair-handler-art, &.flair-defector-art, &.flair-t2l-alt-art, &.flair-t2l-alt-art,
  &.flair-abs-vinyl-art, &.flair-deadinside-eyes, &.flair-animals-video, &.flair-is-video, &.flair-madness-video,
  &.flair-unsustainable-video, &.flair-nsc-video, &.flair-koc-video-lady, &.flair-koc-video-owl,
  &.flair-koc-video-gent, &.flair-sfa-matt, &.flair-pib-girl, &.flair-newborn-vid, &.flair-bliss-vid,
  &.flair-uno-vid, &.flair-sunburn-vid, &.flair-sunburn-vid, &.flair-charles, &.flair-lightbulb {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
  }

  &.flair-ChrisFlair {
    background-position: 0 0;
  }

  &.flair-DomFlair {
    background-position: 0 -30px;
  }

  &.flair-MattFlair {
    background-position: 0 -60px;
  }

  &.flair-absflair {
    background-position: 0 -90px;
  }

  &.flair-bharflair {
    background-position: 0 -120px;
  }

  &.flair-dronesflair {
    background-position: 0 -150px;
  }

  &.flair-oosflair {
    background-position: 0 -180px;
  }

  &.flair-resflair {
    background-position: 0 -210px;
  }

  &.flair-showbizflair {
    background-position: 0 -240px;
  }

  &.flair-t2lflair {
    background-position: 0 -270px;
  }

  &.flair-haarp {
    background-position: 0 -300px;
  }

  &.flair-hullabaloo {
    background-position: 0 -330px;
  }

  &.flair-pedro {
    background-position: 0 -360px;
  }

  &.flair-creepydom {
    background-position: 0 -390px;
  }

  &.flair-bluematt {
    background-position: 0 -420px;
  }

  &.flair-reapers-single {
    background-position: 0 -450px;
  }

  &.flair-reapers-eyes {
    background-position: 0 -480px;
  }

  &.flair-psycho-man {
    background-position: 0 -511px;
  }

  &.flair-panic-matt {
    background-position: 0 -540px;
  }

  &.flair-madness-lyric {
    background-position: 0 -571px;
  }

  &.flair-exogenesis-art {
    background-position: 0 -600px;
  }

  &.flair-resistance-cd-art {
    background-position: 0 -630px;
  }

  &.flair-resistance-vinyl-art {
    background-position: 0 -660px;
  }

  &.flair-ud-art {
    background-position: 0 -690px;
  }

  &.flair-uprising-art {
    background-position: 0 -720px;
  }

  &.flair-motp-art {
    background-position: 0 -750px;
  }

  &.flair-invincible-art {
    background-position: 0 -780px;
  }

  &.flair-invincible-dvd-art {
    background-position: 0 -810px;
  }

  &.flair-koc-art {
    background-position: 0 -840px;
  }

  &.flair-starlight-cd-art {
    background-position: 0 -870px;
  }

  &.flair-starlight-dvd-art {
    background-position: 0 -900px;
  }

  &.flair-smbh-art {
    background-position: 0 -930px;
  }

  &.flair-bandh-cd-art {
    background-position: 0 -960px;
  }

  &.flair-bandh-dvd-art {
    background-position: 0 -990px;
  }

  &.flair-sfa-dvd-art {
    background-position: 0 -1020px;
  }

  &.flair-ss-cd-art {
    background-position: 0 -1050px;
  }

  &.flair-hyper-music-cd-art {
    background-position: 0 -1080px;
  }

  &.flair-new-born-cd-art {
    background-position: 0 -1110px;
  }

  &.flair-pib-cd-art {
    background-position: 0 -1140px;
  }

  &.flair-sunburn-cd-art {
    background-position: 0 -1170px;
  }

  &.flair-mm-cd-art {
    background-position: 0 -1200px;
  }

  &.flair-cave-cd-art {
    background-position: 0 -1230px;
  }

  &.flair-deadstar-cd-art {
    background-position: 0 -1260px;
  }

  &.flair-newkindofkick-mattanddom {
    background-position: 0 -1291px;
  }

  &.flair-psycho-sergeant {
    background-position: 0 -1322px;
  }

  &.flair-handler-art {
    background-position: 0 -1350px;
  }

  &.flair-defector-art {
    background-position: 0 -1382px;
  }

  &.flair-t2l-alt-art {
    background-position: 0 -1411px;
  }

  &.flair-t2l-alt-art {
    background-position: 0 -1411px;
  }

  &.flair-abs-vinyl-art {
    background-position: 0 -1441px;
  }

  &.flair-deadinside-eyes {
    background-position: 0 -1472px;
  }

  &.flair-animals-video {
    background-position: 0 -1500px;
  }

  &.flair-is-video {
    background-position: 0 -1530px;
  }

  &.flair-madness-video {
    background-position: 0 -1561px;
  }

  &.flair-unsustainable-video {
    background-position: 0 -1592px;
  }

  &.flair-nsc-video {
    background-position: 0 -1620px;
  }

  &.flair-koc-video-lady {
    background-position: 0 -1651px;
  }

  &.flair-koc-video-owl {
    background-position: 0 -1681px;
  }

  &.flair-koc-video-gent {
    background-position: 0 -1710px;
  }

  &.flair-sfa-matt {
    background-position: 0 -1741px;
  }

  &.flair-pib-girl {
    background-position: 0 -1772px;
  }

  &.flair-newborn-vid {
    background-position: 0 -1802px;
  }

  &.flair-bliss-vid {
    background-position: 0 -1830px;
  }

  &.flair-uno-vid {
    background-position: 0 -1860px;
  }

  &.flair-sunburn-vid {
    background-position: 0 -1890px;
  }

  &.flair-sunburn-vid {
    background-position: 0 -1922px;
  }

  &.flair-charles {
    background-position: 0 -1950px;
  }

  &.flair-lightbulb {
    background-position: 0 -1981px;
  }

}