.flair {
  background: url(%%flairsheet%%) no-repeat -9999px;
  font-weight: normal;
  border: none;

  overflow: inherit;
  line-height: 26px;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 100%;
  color: #999;
}

.flair-ChrisFlair {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 0;

}

.flair-DomFlair {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -30px;
}

.flair-MattFlair {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -60px;
}

.flair-absflair {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -90px;
}

.flair-bharflair {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -120px;
}

.flair-dronesflair {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;

  background-position: 0 -150px;
}

.flair-oosflair {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -180px;
}

.flair-resflair {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -210px;
}

.flair-showbizflair {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -240px;

}

.flair-t2lflair {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -270px;
}

.flair-haarp {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -300px;
}

.flair-hullabaloo {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -330px;
}

.flair-pedro {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -360px;
}

.flair-creepydom {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -390px;
}

.flair-bluematt {
  min-width: 58px;
  text-indent: 62px;
  height: 28px;
  background-position: 0 -420px;
}