@import "../partials/core";

.flair {
  background: url(%%flairsheet%%) no-repeat -9999px;
  font-weight: normal;
  border: none;

  overflow: inherit;
  line-height: 26px;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 100%;
  color: $fontColor;

  &.flair-ChrisFlair, &.flair-DomFlair, &.flair-MattFlair, &.flair-absflair, &.flair-bharflair, &.flair-dronesflair,
  &.flair-oosflair, &.flair-resflair, &.flair-showbizflair, &.flair-t2lflair, &.flair-haarp, &.flair-hullabaloo,
  &.flair-pedro, &.flair-creepydom, &.flair-bluematt {
    min-width: 58px;
    text-indent: 62px;
    height: 28px;
  }

  &.flair-ChrisFlair {
    background-position: 0 0;
  }

  &.flair-DomFlair {
    background-position: 0 -30px;
  }

  &.flair-MattFlair {
    background-position: 0 -60px;
  }

  &.flair-absflair {
    background-position: 0 -90px;
  }

  &.flair-bharflair {
    background-position: 0 -120px;
  }

  &.flair-dronesflair {
    background-position: 0 -150px;
  }

  &.flair-oosflair {
    background-position: 0 -180px;
  }

  &.flair-resflair {
    background-position: 0 -210px;
  }

  &.flair-showbizflair {
    background-position: 0 -240px;
  }

  &.flair-t2lflair {
    background-position: 0 -270px;
  }

  &.flair-haarp {
    background-position: 0 -300px;
  }

  &.flair-hullabaloo {
    background-position: 0 -330px;
  }

  &.flair-pedro {
    background-position: 0 -360px;
  }

  &.flair-creepydom {
    background-position: 0 -390px;
  }

  &.flair-bluematt {
    background-position: 0 -420px;
  }
}