@import "../partials/core";

input[type=text], textarea, .hover-bubble.multi-selector .create-multi input[type="text"], input#url, input[type=password] {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  border-radius: 0 !important;
  background: $bgColor1;
  color: $inputElementsFont;
  transition: 0 !important;
}

input[type=text]:focus, textarea:focus, input#url:focus, input[type=password]:focus {
  border-color: $borderFocus !important;
}

input[type="checkbox"],
input[type=radio],
#rem-login-main,
.side .titlebox h1.redditname + div:before {
  -webkit-appearance: none;
  //-moz-appearance: none;
  display: inline-block;
  vertical-align: middle;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 0;
  background: $bgColor1 url(%%spritesheet%%) -2px -200px no-repeat;
  content: "";
}

input[type="checkbox"]:not(:checked), input[type=radio]:not(:checked), #rem-login-main:not(:checked) {
  background: $bgColor1;
}

input[type=radio] {
  margin: 0 5px;
  border-radius: 50%
}

// >2017<
input[type="checkbox"][name="res-style-checkbox"],
input[type="checkbox"][name="flair_enabled"],
input[type="checkbox"][name="sendreplies"] {
  position: absolute;
  left: -1000em;

  & + label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px !important;
    margin-bottom: 1px !important;
    margin-right: 0.5em;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 0;
    background: $inputsAndSelectBg;
  }

  &:checked + label:before {
    background: url(%%spritesheet%%) -2px -200px no-repeat $inputsAndSelectBg;

  }
}

#rem-login-main {
  margin-right: 5px;
}

select, #quickMessageDialog select {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  padding: 0px 22px 0px 8px;
  height: 25px;
  line-height: 25px;
  background: url(%%spritesheet%%) right -257px top -248px no-repeat $inputsAndSelectBg;
  font-size: 13px;
  color: $fontColor;
}