@import "../partials/core";

// #header-bottom-right refactored in, rest is over-written currently 28/03/2017

// Some toggle thing to hide some top-nav icons/links
.res.res-accountSwitcher-dropDownStyle-alien #RESAccountSwitcherIconOverlay {
  display: none !important;
}

// HIDING RES ANNOUNCEMENT UPDATE, SOME EXTENSION ORANGE CHAT ICON, AND BETA ICON IN NAV BAR
#RESAnnouncementAlert, .ChatApp__reddit-icon, #header .beta-hint > a {
  display: none;
}


#header {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  margin: 60px 30px 0;
  width: 100%;
  height: 250px;
  background-position: center center;
  background-color: $headerBg;
  border-bottom: 0;
  background-image: url(%%header%%);
  background-size: cover;

  .pagename {
    top: 113px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    margin: 0;
    width: auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -10px;
    text-transform: uppercase;
    font-size: 0;
    font-weight: 700;

    a {
      font-size: 24px;
      letter-spacing: 10px;
      border-bottom: 3px solid #FFFFFF;
      border-top: 3px solid #FFFFFF;
      color: #fff;
      padding: 10px 0 10px 10px;
      text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    }

  }

  &:before {
    padding: 0 20px;
    background: url(%%overlay%%), linear-gradient(45deg, #6093c4 20%, #46a6b5 80%);
    display: block;
    overflow: hidden;
    position: relative;
    bottom: -250px;
    margin-top: 0;
    height: 50px;
    border: 0;
    line-height: 45px;
    white-space: nowrap;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    content: "";
  }

  // Back to front-page Reddit icon
  #header-img {
    position: absolute;
    left: 25px;
    bottom: -37px;
    width: 22px;
    height: 22px;
    background: url(%%spritesheet%%) -146px -148px;
    margin: 0;
    padding-left: 30px;
    opacity: .8;
  }

  #header-bottom-right {
    top: auto;
    bottom: -50px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    background: none;
    text-transform: uppercase;
    font-size: 11px;
    color: $fontColor;

    #mail, #modmail, #new_modmail, #openRESPrefs .gearIcon, .logout a, .pref-lang, .user > a, #RESAccountSwitcherIcon, #chat {
      width: 18px !important;
      height: 18px !important;
      margin: 16px 35px 0 0 !important;
      display: inline-block !important;
      position: relative;
      top: 0 !important;
      overflow: visible;
      vertical-align: top;
      background: url(%%spritesheet%%);
      font-size: 0 !important;

      &:before {
        position: absolute;
        pointer-events: none;
        opacity: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        top: -33px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        padding: 0 15px;
        background: #fff;
        white-space: nowrap;
        line-height: 24px;
        text-indent: 0px;
        font-family: inherit;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 1px;
        color: #32383f;
        transition: .2s;
      }

      &:hover:before {
        opacity: 1;
        top: -36px; //36
      }

      &:after {
        position: absolute;
        pointer-events: none;
        opacity: 0;
        top: -9px;
        left: calc(50% - 4px);
        width: 8px;
        height: 1px;
        border: 4px solid transparent;
        border-bottom-width: 0;
        border-top-color: #fff;
        content: "";
        transition: .2s;
      }
      
      &:hover:after {
        opacity: 1;
        top: -12px;
      }
    }

    // Special edge-case
    #openRESPrefs .gearIcon {
      margin: 0 !important;
    }
    #openRESPrefs {
      margin: 16px 35px 0 0 !important;
      width: 18px;
      height: 30px; // so that transition to the menu is smooth and doesnt get interrupted
    }
    .logout a {
      margin: 16px 24px 0 0 !important;
    }

    // ICON BACKGROUND SPRITE POSITIONS
    .user > a {
      background-position: -157px -204px;
    }
    #mail {
      &.nohavemail {
        background-position: -116px -224px;
      }
      &.havemail {
        background-position: -55px -225px;
      }
    }
    #modmail {
      background-position: -32px -204px;
    }
    .pref-lang {
      background-position: -116px -205px;
    }
    #openRESPrefs .gearIcon {
      background-position: -76px -225px;
    }
    .logout a {
      background-position: -56px -205px;
    }
    #new_modmail {
      background-position: -179px -204px;

      &.havemail {
        background-position: -179px -184px;
      }
    }
    #RESAccountSwitcherIcon {
      background-position: -199px -204px;
      width: 20px !important;
      height: 20px !important;
    }
    #chat {
      background-position: -199px -225px;
      width: 19px !important;
    }

    // HOVER TEXTS
    .user > a:before {
      content: "User Page"
    }
    #RESAccountSwitcherIcon:before {
      content: "Switch Accounts"
    }
    #mail:before {
      content: "Mail"
    }
    #modmail:before {
      content: "Mod Mail"
    }
    #new_modmail:before {
      content: "New Mod Mail"
    }
    .pref-lang:before {
      content: "Preferences"
    }
    #openRESPrefs .gearIcon:before {
      content: "RES Settings"
    }
    .logout a:before {
      content: "Logout"
    }
    #chat:before {
      content: "Reddit Chat"
    }

    // REST
    a.message-count {
      position: relative;
      margin: 15px 23px 0 -42px;
      top: -5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      font-size: 10px;
      font-weight: 400;
      background: lighten($bgThemeColor1, 3);
    }
    .user, &.res-userbar-toggle > .user {
      font-size: 0;
      margin-left: 0;
    }

    #userbarToggle, .separator {
      display: none !important;
    }
  }

}


@media (max-width: $break-large) {
  //#header {
  //  &:before {
  //    bottom: -220px;
  //  }
  //}
  //
  //body > .content {
  //  //margin: 10px 0 0 0 !important;
  //  max-width: calc(100vw - 321px) !important;
  //}
}