/*============================================================================
                          ADD ADDONS/CUSTOMIZATIONS BELOW
==============================================================================*/

/* 100% WIDTH POST ENTRIES
---------------------------*/
.link, .link.last-clicked {
  width: 100%;
}

.link.odd {
  padding-right: 0;
  border-right: 0;
}

.link.even {
  border-left: 0;
}

body > .content .link.even.thing .midcol {
  margin-left: -3px;
}

.link.even .entry {
  margin-left: 130px;
}


.modtools-page > div.content, .res.res-commentBoxes body > .content, body > .content {
  margin: 10px 0 0 30px;
}

/* SEARCH LINE PADDING
--------------------*/

#searchexpando label:first-child {
  margin-bottom: 6px;
}

/* SEARCH EXPANDO SELECT AND LABEL MARGIN
--------------------*/

#searchexpando label select[name='sort'], #searchexpando label select[name='t'] {
  margin-left: 5px;
}

#searchexpando label + br + label, #searchexpando label + br + label + label {
  padding: 0 5px;
}

/* UNSTYLED SEARCH PAGE ELEMENTS
--------------------*/

#previoussearch ul.res-search-tabs li {
  background: #434b55;
}

#previoussearch ul.res-search-tabs li a {
  border-color: #4c5561;
}

.res-searchHelper-searchPageTabs .combined-search-page #previoussearch .res-search-pane {
  background: #434b55;
  border-top: 1px solid #4c5561;
}

.search-result-meta span.search-subscribe-button a.active.option,
.search-result-meta span.search-subscribe-button a.active.option.remove,
.search-result-meta span.private-stamp {
  height: 18px;
  line-height: 18px;
  font-weight: normal;
  padding: 0 8px;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
}

.search-result-meta span.private-stamp {
  border: 1px solid;
}


.search-result-subreddit .search-result-header  {
  text-transform: uppercase;
}

.search-result-subreddit .search-result-meta {
  margin: 4px 0;
}

.search-result-subreddit .search-result-meta a.search-subreddit-link {
  margin-left: 4px;
}

.search-result-group footer .nextprev .separator {
  display: none;
}

.search-result-group footer .nextprev {
  font-size: 0;
}

.search-result-body, .search-result-body .md, .search-result-body .md p {
  color: #fff;
  font-size: 12px;
}

.search-result-subreddit .search-result-footer span.search-result-icon {
  display: none;
}

/* Because apparently Reddit has .search-result-footer set to overflow: hidden */
.search-result-subreddit .search-result-footer {
  overflow: visible;
}

.search-result-subreddit .search-result-footer span.search-result-icon + a {
  padding: 3px 10px !important;
  margin-left: 0;
}


.search-result-subreddit .search-result-footer span.search-result-icon + a mark {
  color: inherit;
}

.search-result-header a.search-title > mark {
  line-height: inherit;
}

.combined-search-page .searchfacets {
  margin-bottom: 20px;
}

/* RES NSFW EXPANDO STYLE (THIS SHOULD BE IN CORE CSS FILE), CAUSED BY DIFFERENT RES CLASS?
--------------------*/

.res-showImages-highlightNSFWButton .thing.over18 .expando-button::before {
  position: absolute;
  left: 8px;
  top: 13.5px;
  width: 12px;
  height: 1px;
  background: #fff;
  content: "";
  transition: .3s;
}

/* RES SHOW IMAGES RESPONSIVE
--------------------*/
.res-image .res-image-media {
  max-width: 100% !important;
  height: auto;
  display: block;
}

/* TITLE PADDING FIX ON /COMMENTS
--------------------*/
.listing-page .comment p.parent {
  margin-left: 12px;
}


/* CHECKBOX BACKGROUND-SIZE FIX
--------------------*/
#rem-login-main, .side .titlebox h1.redditname+div:before, input[type=checkbox], input[type=radio] {
  background: url(%%spritesheet%%) -2px -200px no-repeat #383F47;
}

select {
  background: url(%%spritesheet%%) right -188px top -248px no-repeat #383F47;
}

.res .RESUserTagImage::after {
  background: url(%%spritesheet%%) -4px -30px no-repeat;
}

/* CUSTOMIZED NSFW / STICKIED TAG
--------------------*/

.tagline .stickied-tagline, span.nsfw-stamp.stamp {
  background: #4f9c79;
  color: #f3f3f3;
  text-transform: uppercase;
  padding: 2px 5px;
  font-size: 10px;
}

span.nsfw-stamp.stamp {
  background: #c4918a;
  padding: 2px 6px;
}

.tagline .stickied-tagline {
  margin-left: 3px;
}

/* STICKIED POST TEXT WHEN VISITED
--------------------*/
.thing.stickied.link a.title:visited {
  color: #61c095 !important;
}

/* HIDING FLAIR AND UPVOTE COUNT WHEN STICKIED POST
--------------------*/
.link.stickied .tagline .flair {
  display: none;
}

.link.stickied .tagline .voteWeight {
  display: none !important;
}

// Post flair label
.linkflairlabel {
  vertical-align: middle;
  margin: 0 6px 0 0;
  border: 0;
  border-radius: 0;
  padding: 0 6px;
  line-height: 1.6em;
  background: #383F47;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  text-overflow: initial;
  max-width: none;
}

// Hide post flair in recently visited links
.side span.linkflairlabel {
  display: none;
}

/* HIDING RES ANNOUNCEMENT UPDATE IN NAV BAR
--------------------*/

#RESAnnouncementAlert {
  display: none;
}

/* RES SETTINGS BUTTON SHOULD ACT LIKE A LINK
--------------------*/
span#RESSettingsButton:hover {
  cursor: pointer;
}

/* NEW POST PAGE FIXES AND STYLING
--------------------*/
#newlink-with-image-upload #image-name {
  background: none;
}

.content button.RESBigEditorPop span.res-icon {
  display: none;
}

/* COLORIZATION
---------------*/

/* PINK BORDERS
---------------*/
input[type=text]:focus,
textarea:focus,
input#url:focus { border-color: #6093c4 !important }

/* PINK BACKGROUNDS
-------------------*/
#header-bottom-right a.message-count,
.res .moduleToggle:not(.enabled) .toggleOff,
.res .toggleButton:not(.enabled) .toggleOff,
//.side .fancy-toggle-button a.option.active,
#authorInfoToolTip .fancy-toggle-button a.option.active,
.fancy-toggle-button .add.active,
.res #RESHoverInfoSubscriptionButton,
#NERFail .nextprev a,
.next-suggestions a,
.res .RESSubscriptionButton,
.res .RESSubscriptionButton:hover,
button.search-submit-button.c-btn.c-btn-primary { background: #6093c4 !important; }

/* PINK TEXT
------------*/
body #header #sr-header-area .srdrop+.drop-choices.srdrop a.choice:hover,
.res #srList tbody tr:hover a,
.res #RESSubredditGroupDropdown li a:hover,
.res #RESSubredditGroupDropdown .RESShortcutsEditButtons .res-icon:hover,
.res #RESSubredditGroupDropdown .RESShortcutsCurrentSub a,
.md a:hover,
.flair-settings+.tabmenu li.selected a,
.error,
.morechildren .entry a.button[style*="color: red"],
.thing a.title:hover,
.link .entry .buttons li a:hover,
.link .redditSingleClick:hover,
.link .entry .buttons li a.comments,
.tabmenu.formtab .selected a,
.flat-list li.selected a { color: #6093c4 !important }


/* RES SUB-REDDIT LIST
---------------*/
.res #srList tbody {
  overflow: auto;
}

.res #srList tr td:last-child {
  padding-right: 10px;
}

/* RECENTLY VIEWED LINKS
   .gadget seems to be correct class to target it, according to Reddits source code
-----------------*/

.gadget .thing .midcol {
  display: none;
}

.gadget .thing .entry {
  margin-left: 0;
}

.gadget .score {
  margin-left: 0;
}

.gadget .thing .entry small, .gadget .thing .entry span.score, .gadget .thing .entry .reddit-comment-link {
  color: #999;
}

/* MINOR DETAIL CHANGE FOR VOTE BUTTONS
-----------------*/
body>.content .link.thing .midcol {
  margin-top: 12px;
}

.arrow {
  width: 15px;
  height: 15px;
  background: url(%%spritesheet%%) !important;
  margin: 3px auto;
  opacity: 0.7;
}

.arrow.up {
  background-position: -67px -247px !important;
}

.arrow.upmod {
  background-position: -84px -247px !important;
}

.arrow.down {
  background-position: -33px -247px !important;
}

.arrow.upmod, .arrow.downmod {
  opacity: 1;
}

.arrow.down {
  opacity: 0.5;
}

.arrow.down:hover, .arrow.up:hover {
  opacity: 1;
  transition: opacity 0.15s;
}

.arrow.downmod {
  background-position: -50px -247px !important;
  opacity: 1;
}