@import "../partials/core";
/*============================================================================
                          ADD ADDONS/CUSTOMIZATIONS BELOW
==============================================================================*/

.modtools-page > div.content,
.res.res-commentBoxes body > .content, body > .content {
  margin: 10px 0 0 30px;
}

/* SEARCH LINE PADDING
--------------------*/

#searchexpando label:first-child {
  margin-bottom: 6px;
}

/* SEARCH EXPANDO SELECT AND LABEL MARGIN
--------------------*/

#searchexpando label select[name='sort'], #searchexpando label select[name='t'] {
  margin-left: 5px;
}

#searchexpando label + br + label, #searchexpando label + br + label + label {
  padding: 0 5px;
}

/* SEARCH PAGE ELEMENTS
--------------------*/

#previoussearch ul.res-search-tabs li {
  background: darken($bgColor1, 2);
}

#previoussearch ul.res-search-tabs li a {
  border-color: $borderColor1;
}

.res-searchHelper-searchPageTabs .combined-search-page #previoussearch .res-search-pane,
.res-searchHelper-searchPageTabs #previoussearch > div.res-search-options.res-search-pane.res-search-pane-open {
  background: $bgColor1;
  border-top: 1px solid $borderColor1;
}

.search-result-meta span.search-subscribe-button a.active.option,
.search-result-meta span.search-subscribe-button a.active.option.remove,
.search-result-meta span.private-stamp {
  height: 18px;
  line-height: 18px;
  font-weight: normal;
  padding: 0 8px;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
}

.search-result-meta span.private-stamp {
  border: 1px solid;
}


.search-result-subreddit .search-result-header  {
  text-transform: uppercase;
}

.search-result-subreddit .search-result-meta {
  margin: 4px 0;
}

.search-result-subreddit .search-result-meta a.search-subreddit-link {
  margin-left: 4px;
}

.search-result-group footer .nextprev .separator {
  display: none;
}

.search-result-group footer .nextprev {
  font-size: 0;
}

.search-result-body, .search-result-body .md, .search-result-body .md p {
  color: $fontColor;
  font-size: 12px;
}

.search-result-subreddit .search-result-footer span.search-result-icon {
  display: none;
}

/* Because apparently Reddit has .search-result-footer set to overflow: hidden */
.search-result-subreddit .search-result-footer {
  overflow: visible;
}

.search-result-subreddit .search-result-footer span.search-result-icon + a {
  padding: 3px 10px !important;
  margin-left: 0;
}


.search-result-subreddit .search-result-footer span.search-result-icon + a mark {
  color: inherit;
}

.search-result-header a.search-title > mark {
  line-height: inherit;
}

.combined-search-page .searchfacets {
  margin-bottom: 20px;
}

/* RES NSFW EXPANDO STYLE (THIS SHOULD BE IN CORE CSS FILE), CAUSED BY DIFFERENT RES CLASS?
--------------------*/

.res-showImages-highlightNSFWButton .thing.over18 .expando-button::before {
  position: absolute;
  left: 8px;
  top: 13.5px;
  width: 12px;
  height: 1px;
  background: #fff;
  content: "";
  transition: .3s;
}

/* RES SHOW IMAGES RESPONSIVE
--------------------*/
.res-image .res-image-media {
  max-width: 100% !important;
  height: auto;
  display: block;
}

/* TITLE PADDING FIX ON /COMMENTS
--------------------*/
.listing-page .comment p.parent {
  margin-left: 12px;
}

// Removing the Reddit dash in "Stickied comment" label
.comment .tagline .stickied-tagline:before, .comment .search-result-meta .stickied-tagline:before {
  content: "";
}

/* SPRITESHEET BACKGROUND-SIZE FIX
--------------------*/
.res .RESUserTagImage::after {
  background: url(%%spritesheet%%) -4px -30px no-repeat;
}

/* CUSTOMIZED NSFW / STICKIED TAG
--------------------*/

.tagline .stickied-tagline, span.nsfw-stamp.stamp {
  background: #4f9c79;
  color: #f3f3f3;
  text-transform: uppercase;
  padding: 2px 5px;
  font-size: 10px;
}

span.nsfw-stamp.stamp {
  background: #c4918a;
  padding: 2px 6px;
}

.tagline .stickied-tagline {
  margin-left: 3px;
}

/* STICKIED POST TEXT WHEN VISITED
--------------------*/
.thing.stickied.link a.title:visited {
  color: #61c095 !important;
}

/* HIDING FLAIR AND UPVOTE COUNT WHEN STICKIED POST, AND ON POSTS
--------------------*/
div.link .tagline .flair {
  display: none;
}

.link.stickied .tagline .flair {
  display: none;
}

.link.stickied .tagline .voteWeight {
  display: none !important;
}

// Post flair label
.linkflairlabel {
  vertical-align: middle;
  margin: 0 6px 0 0;
  border: 0;
  border-radius: 0;
  padding: 0 6px;
  line-height: 1.6em;
  background: $bgColor1;
  color: $fontColor;
  font-size: 10px;
  text-transform: uppercase;
  text-overflow: initial;
  max-width: none;
}

// Hide post flair in recently visited links
.side span.linkflairlabel {
  display: none;
}

/* RES SETTINGS BUTTON SHOULD ACT LIKE A LINK
--------------------*/
span#RESSettingsButton:hover {
  cursor: pointer;
}

/* NEW POST PAGE FIXES AND STYLING
--------------------*/
#newlink-with-image-upload #image-name {
  background: none;
}

.content button.RESBigEditorPop span.res-icon {
  display: none;
}

/* RECENTLY VIEWED LINKS
   .gadget seems to be correct class to target it, according to Reddits source code
-----------------*/

.gadget .thing .midcol {
  display: none;
}

.gadget .thing .entry {
  margin-left: 0;
}

.gadget .score {
  margin-left: 0;
}

.gadget .thing .entry small, .gadget .thing .entry span.score, .gadget .thing .entry .reddit-comment-link {
  color: #999;
}

.gadget .thing .entry span.nsfw-stamp {
  margin-right: 5px;
}

/* MINOR DETAIL CHANGE FOR VOTE BUTTONS
-----------------*/
body > .content .link.thing .midcol {
  margin-top: 12px;
}

.arrow {
  width: 15px;
  height: 15px;
  background: url(%%spritesheet%%) !important;
  margin: 3px auto;
  opacity: 0.7;

  &.up {
    background-position: -67px -247px !important;
  }
  &.upmod {
    background-position: -84px -247px !important;
  }
  &.down {
    background-position: -33px -247px !important;
  }
  &.downmod {
    background-position: -50px -247px !important;
  }

  &.up:hover, &.down:hover, &.upmod, &.downmod {
    opacity: 1;
    transition: opacity 0.15s;
  }

  .link &.upmod:focus:after, &.downmod:focus:after {
    white-space: nowrap;
  }

  .link &.upmod:focus::after {
    content: url(%%guitarupvote%%);
    font-size: 14px;
    margin-left: -18px;
    position: relative;
    color: #C2185B;
    bottom: 18px;
    opacity: 0.0;
    z-index: 102;
    animation-name: exAn;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-play-state: running;
  }

  .link &.downmod:focus::after {
    content: url(%%guitardownvote%%);
    font-size: 14px;
    margin-left: -18px;
    position: relative;
    color: #9494FF;
    bottom: -3px;
    opacity: 0.0;
    z-index: 102;
    animation-name: exBn;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-play-state: running;
  }
}


@keyframes exAn {
  0% {
    color: #FF8C69
  }
  8% {
    bottom: 23px;
    opacity: 1.0
  }
  15% {
    bottom: 28px;
  }
  30% {
    color: #FF0000
  }
  50% {
    color: red;
    bottom: 33px;
  }
  60% {
    color: #FF4500
  }
  100% {
    bottom: 38px;
    opacity: 0.0;
  }
}

@keyframes exBn {
  0% {
    color: #a8a8ff
  }
  8% {
    bottom: -8px;
    opacity: 1.0
  }
  15% {
    bottom: -13px;
  }
  30% {
    color: #bbbbff
  }
  50% {
    color: red;
    bottom: -18px;
  }
  60% {
    color: #cfcfff
  }
  100% {
    bottom: -23px;
    opacity: 0.0
  }
}

// So that the guitar is visible

.midcol {
  overflow: visible;
}

// Compose page specific

body.messages-page #compose-message #send {
  margin-left: 10px;
}

body.messages-page #compose-message {
  padding-bottom: 10px;
}

body.messages-page .content > h1 {
  margin-left: 10px;
}

// Error pages IMG hiding

body > .content #classy-error img {
  display: none;
}

// Cookie usage box
#eu-cookie-policy {
  > div {
    background: lighten($bgColor1, 12);
    box-shadow: 0 0 1px $popupBoxesShadow;
  }

  .infobar-btn-container {
    margin-top: -23px;
  }

}