a.flairselectbtn + div.flairselector.drop-choices.active {
  ul > li {
    width: 100% !important;
  }

  ul {
    padding: 0 6px;
  }

  .flairoptionpane::-webkit-scrollbar {
    width: 6px;
  }

  .flairoptionpane {
    max-height: 300px;
  }
}

.side .flairselector.drop-choices.active {
  position: static;
  margin-top: 10px;
  box-shadow: none;
  width: 300px !important;
  border: 0;
  border-top: 1px solid $borderColor1;
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.flairselector .flairthrobber {
  margin-top: 5px
}

.flairselector h2 {
  margin-bottom: 10px;
  background: none
}

.side .flairselector h2 {
  text-align: left
}

.flairselector .error {
  text-align: left
}

.flairoptionpane {
  margin-bottom: 10px;
  text-align: left
}

.content .flairselector ul {
  width: 100% !important;
  max-width: none;
  padding: 6px
}

.content .flairselector .linkflair {
  text-align: center
}

.flairselector li, body .entry .buttons .flairselector li, .flairselector li:hover, .flairselector li.selected {
  border: 0;
  padding: 5px
}

.flairselector li:hover {
  background: $bgColor3;
}

.flairoptionpane a.title, .flairselector li a.author {
  display: none
}

.flair {
  vertical-align: middle;
  margin: 0 6px;
  max-width: none;
  border: 0;
  border-radius: 0;
  padding: 1px 6px;
}

.flair {
  font-size: 11px !important
}