// POST ENTRY ICONS / THUMBNAIL

%thumbnail-generic {
  position: relative;
  -webkit-flex: none;
  flex: none;
  margin: 0;
  width: 62px;
  height: 62px !important;
  top: 9px;
  left: 9px;
}

.thumbnail {
  @extend %thumbnail-generic;

  &.self,
  .search-result.has-thumbnail > & {
    @extend %thumbnail-generic;
  }

  img {
    width: auto !important;
    height: 62px !important;
  }

  .link &[href*="reddit.com"] {
    background: url(%%spritesheet%%) -2px -367px;
  }

  .link &[href*="reddit.com"]:after, .over18.link .thumbnail:after {
    content: "";
  }

  &.default {
    background: url(%%spritesheet%%) -133px -302px;
  }

  &.self {
    background: url(%%spritesheet%%) -68px -302px;
  }

  .over18.link & {
    background: url(%%spritesheet%%) -2px -302px;
  }

  // Text for special posts ("self" etc.)
  &:after {
    position: absolute;
    top: 30px;
    left: 0;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: rgba(0, 0, 0, .4);
    pointer-events: none;
  }

  .search-result.has-thumbnail > & {
    margin-right: 28px;
  }
}

.self .thumbnail img,
.comments-page .thumbnail.self,
.comments-page .over18 .thumbnail,
a.thumbnail[href*="reddit.com"] img {
  display: none;
}

// Posts that have no thumb-nail, generally this happens only when there is literally no thumbnail,
// or when thumbnails are disabled in the sub-reddit

.link .entry:before {
  @extend %thumbnail-generic;
}

body:not(.comments-page) .link :not(.thumbnail) + .entry:before {
  position: absolute;
  top: 9px;
  left: -81px;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  color: rgba(0, 0, 0, .4);
  pointer-events: none;
  content: "•••";
  border-radius: 31px;
  background: #434b55;
}