@import "../partials/core";

.report-modal {

  .report-reason-item:first-child {
    margin-top: 0;
  }

  .report-form-content-policy .subreddit-rules-link {
    display: inline !important;
  }

  .report-reason-item .report-reason-display {
    font-family: inherit;
    font-size: 12px;
    padding-top: 5px;
  }

  .report-back[style="display: block;"] {
    display: inline-block !important;
  }

}