@import "../partials/core";

.flairselector form, .flairoptionpane, #srList {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    // border: 0px none #ffffff;
    border: 0;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #a8a8a8;
  }

  &::-webkit-scrollbar-track {
    background: #dcdcdc;
    // border: 0px none #ffffff;
    border: 0;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track:hover {
    background: #dcdcdc;
  }

  &::-webkit-scrollbar-track:active {
    background: #dcdcdc;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}