@import "../partials/core";

.side {
  margin: 50px 30px 0 0;
  padding: 15px 10px 10px 10px;

  .bottom {
    display: none;
  }

  &:after {
    content: "theme: /r/apicem, modified by /u/iamncla"
  }

  .md a {
    color: $fontColor;
    border-bottom: 0;
  }

  // Ad containers
  .dfp-ad-container {
    margin-bottom: 5px;
  }

  // Online users, subscribed users text
  .subscribers, .users-online {
    display: inline-block;
    width: 100%;

    .word {
      font-size: 0;

      &:after {
        display: inline-block;
        font-size: 12px;
      }
    }
  }

  .subscribers .word:after {
    content: 'people scream ';
  }

  .users-online .word:after {
    content: 'endlessly waiting for the new EP'
  }
}

// Login form in side-bar

.login-form-side {

  font-size: 12px;
  padding: 10px 0;

  input[type=text], input[type=password] {
    margin: 0;
    width: 145px;
  }

  input[type=text] {
    margin-right: 10px;
  }

  #remember-me {
    margin-left: 0;
  }

}


// Hide RES multi-list counter subreddit subscriber thing
.side span.multi-count {
  display: none;
}

// Gig list
// Real sketchy selector, but what you gonna do :(

.side blockquote:nth-of-type(2) {
  margin: 0;
  border: 1px solid $sideBarGigListBorderColor;
  padding: 0;
  font-size: 11px;
  text-decoration: none;
  font-weight: normal;

  p a {
    display: flex;
    width: 100%;
    border-bottom: 0;
    min-height: 32px;
    clear: both;
    align-items: center;
    border-bottom: 1px solid $sideBarGigListBorderColor;

    &:last-child {
      border-bottom: none;
    }

    &:nth-of-type(2n+1) {
      background: $sideBarGigListOddRowBgColor;
    }

    em, strong {
      display: block;
      float: left;
      font-weight: normal;
      padding: 10px;
    }

    em {
      font-style: normal;
      flex: 1 20%;
      text-align: center;
    }

    strong {
      font-style: normal;
      border-left: 1px solid $sideBarGigListBorderColor;
      float: right;
      flex: 1 75%;
    }
  }
}

// Rule list
.side .md ol {
  padding: 0 20px;
  margin-bottom: 0.8em;
}

// Moderator list

a.helplink.access-required + div.title + ul.content > li {
  .flair, span.RESUserTag, span.userattrs {
    display: none;
  }
  a.voteWeight {
    display: none !important;
  }
}

.side .md > h3:first-of-type, body > .content:before {
  background: none;
}

.side .md {
  a[href="#headerbutton"] + a {
    top: 350px;
  }
  > h3:first-of-type {
    top: 410px;
  }
}

// Short-link

.side .linkinfo .shortlink input {
  font-size: 11px;
}

// Moderation tools consistent line height
#moderation_tools {
  ul.flat-vert li {
    line-height: 1.25em;
    margin-top: 0.4166666666666667em;
    margin-bottom: 0.4166666666666667em;
  }
}