@import "../partials/core";
/*

Apicem CSS Theme
By /u/Cereal_Addict
Stock photos via unsplash.com
Icons via icons8.com

==============================================================================*/

*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none !important;
  -moz-text-size-adjust: none !important;
  -ms-text-size-adjust: none !important;
  text-decoration: none !important;
  outline: none !important
}

a, body .generic-table, .res #srList a, #searchexpando a {
  color: $fontColor;
}

label, .search-expando-button {
  color: $fontColorLessDominant;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  background: url(%%body%%) fixed center top/cover
}

body,
div#RESSubredditGroupDropdown,
#search input[type="text"],
textarea,
.login-form-side input[type=text], .login-form-side input[type=password] {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif
}

.dropdown.lightdrop .selected {
  padding-right: 0
}

.drop-choices {
  padding: 10px;
  font-size: 9px
}

.drop-choices:not(.flairselector) a {
  text-transform: uppercase
}

.drop-choices.lightdrop {
  margin-left: -20px
}

.dropdown.lightdrop .selected {
  letter-spacing: .5px
}

.drop-choices a.choice {
  height: 30px;
  padding: 0 10px;
  line-height: 30px
}

.sortAsc, .sortDesc {
  margin-top: 18px;
  margin-right: 10px;
  height: 12px;
  line-height: 12px
}

body #header #sr-header-area .srdrop + .drop-choices.srdrop a.choice:hover,
.res #srList tbody tr:hover a,
.res #RESSubredditGroupDropdown li a:hover,
.res #RESSubredditGroupDropdown .RESShortcutsEditButtons .res-icon:hover,
.res #RESSubredditGroupDropdown .RESShortcutsCurrentSub a,
#autocomplete_dropdown .selectedItem,
#suggested-reddits li a:hover {
  font-weight: 400;
  color: $fontThemeColor !important
}

// Without font-weight modification
.content.submit .info-notice a:hover {
  color: $fontThemeColor !important
}

#RESMainGearOverlay.RESGearOverlay {
  display: none !important
}

.res .RESDropdownList {
  margin-top: 10px !important;
  right: 45px !important;
  width: auto;
  box-shadow: 0 0 10px $RESDRopdownListShadow;
  border: 0;
  border-radius: 0;
  padding: 10px;
  background: $RESDropdownBg1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px
}

.res .RESDropdownList li {
  height: 40px;
  border-bottom: 1px solid $borderColor3;
  line-height: 39px;
  font-weight: 400;
  color: $fontColor1;
}

.RESDropdownList li:last-of-type {
  border: 0
}

.res .RESDropdownList li:hover {
  background: $RESDropdownMenuItemBg1;
  color: $fontColor1;
}

.RESDropdownList li:first-of-type, #RESAnnouncementMenuItem {
  padding: 0
}

.RESDropdownList #DashboardLink a {
  background: none;
  color: $fontColor1;
}

.RESDropdownList #SettingsConsole, #RESAnnouncementMenuItem a {
  padding-left: 10px;
  background: none;
  color: #32383f
}

.res #RESSearchMenuItem {
  position: static;
  margin: 9px;
  border: 0;
  border-radius: 50%;
  background-color: $RESDropdownMenuItemBg1;
}

.res #RESSearchMenuItem:hover {
  background-color: $RESDropdownListSearchIconHoverBg;
}

.moduleToggle::before, .toggleButton::before {
  display: none
}

.res .moduleToggle .toggleOn, .res .toggleButton .toggleOn, .res .moduleToggle .toggleOff, .res .toggleButton .toggleOff {
  border: 0
}

.res .moduleToggle:not(.enabled) .toggleOff, .res .toggleButton:not(.enabled) .toggleOff {
  background: $bgThemeColor1;
}

.res .moduleToggle.enabled .toggleOn, .res .toggleButton.enabled .toggleOn {
  background: $bgThemeColor2;
}

.RESDropdownList .toggleButton {
  margin-right: 10px
}

.res .moduleToggle span, .res .toggleButton span {
  margin-top: 0;
  height: 20px;
  padding: 0;
  line-height: 20px
}

.side {
  margin: 45px 30px 0 0;
  width: 321px;
  border-left: 1px solid $borderColor1;
  padding: 10px;
  background: $sidebarBgColor;
}

.side .spacer {
  margin: 0
}

#search {
  overflow: hidden;
  margin-bottom: 10px;
  width: 300px
}

#search input[type=text] {
  width: 299px;
  height: 40px;
  padding: 0 38px 0 15px;
  font-size: 14px;
  color: $fontColor !important
}

#search input[type="text"]::-webkit-input-placeholder {
  text-transform: capitalize;
  color: $fontColor;
}

#search input[type=submit], #search input[type=submit]:hover {
  margin-left: 0;
  width: 25px;
  height: 25px;
  background: url(%%spritesheet%%) -75px -125px;
  transition: .2s
}

#search:hover input[type=submit], #search input[type=text]:focus + input[type=submit] {
  margin-left: -33px
}

#searchexpando {
  margin: 0;
  margin-top: 10px;
  border: 0;
  padding: 0;
  background: none;
  line-height: 25px;
  text-align: center;
  color: $fontColor;
}

#searchexpando label {
  position: relative;
  display: inline-block;
  height: 20px;
  line-height: 20px
}

#searchexpando p {
  margin: 0
}

label + #moresearchinfo {
  border: 0
}

.sponsor-300-250 {
  margin-bottom: 10px
}

.linkinfo, .login-form-side {
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid $borderColor1;
  border-bottom: 1px solid $borderColor1;
  border-radius: 0;
  padding: 10px;
  background: none;
  color: $fontColor;
}

div.linkinfo .upvotes {
  color: $fontUpvote;
}

div.linkinfo .downvotes {
  color: $fontDownvote;
}

.sidebox.submit {
  position: relative;
  margin-bottom: 10px
}

.sidebox.submit.submit-link {
  margin-bottom: -50px !important
}

.sidebox.submit.submit-text {
  margin-top: 60px
}

.submit-link .morelink {
  margin-bottom: 60px
}

.account-activity-box {
  margin-top: 10px
}

.account-activity-box a {
  background: none;
  color: $fontColor;
}

.sidebox .subtitle {
  display: none
}

.side .titlebox {
  border-top: 1px solid $borderColor1;
  color: $fontColorLessDominant;
}

.side h1.redditname {
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid $borderColor1;
}

.titlebox h1 a {
  color: inherit;
}

.side h1.redditname a {
  display: inline-block;
  line-height: 49px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
  color: $fontColor;
}

.hover-bubble {
  border: 1px solid $borderColor1;
  background: $bgColor2;
  color: $fontColor;
}

.hover-bubble.multi-selector {
  margin-top: -120px
}

.hover-bubble.anchor-top:before {
    border-bottom-color: $borderColor1;
}

.hover-bubble.anchor-top:after {
    border-bottom-color: $borderColor4;
}

.hover-bubble.multi-selector strong {
  color: $fontColor;
}

.hover-bubble.multi-selector label:hover, .drop-choices a.choice:hover {
  background: $bgColor3;
}

.hover-bubble.multi-selector label a {
  margin-top: 3px;
  border: 0;
  background: none
}

.hover-bubble.anchor-right:before {
  border-left-color: $borderColor1;
}

.hover-bubble.anchor-right:after {
  border-left-color: $hoverBubbleBgArrow;
}

.side .titlebox h1.redditname + div {
  padding: 5px 0;
  text-transform: lowercase
}

.res .RESshortcutside {
  margin-right: 10px;
  margin-bottom: 5px
}

.res .res .RESshortcutside, .res .res .RESDashboardToggle, .RESHoverBody #subTooltipButtons .res-fancy-toggle-button, .res #subTooltipButtons .RESFilterToggle {
  width: auto;
  border: 0;
  padding: 0;
  background: none !important;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 400;
  color: $fontColorLessDominant;
}

.side .subscribers {
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px
}

.side .users-online {
  display: inline-block
}

.side .users-online:before {
  display: none
}

.leavemoderator, .toggle.leavecontributor-button {
  display: none
}

.titlebox form.toggle {
  padding: 5px 0;
  background: none;
  text-transform: lowercase;
  font-size: 12px;
  color: $fontColorLessDominant;
}

.titlebox .tagline {
  margin-left: 0;
  color: $fontColorLessDominant;
}

.titlebox .tagline a {
  color: $fontColorLessDominant;
}

.side .flairselector.drop-choices.active {
  position: static;
  margin-top: 10px;
  box-shadow: none;
  width: 300px !important;
  border: 0;
  border-top: 1px solid $borderColor1;
  padding-top: 0 !important;
  padding-bottom: 0 !important
}

.flairselector .flairthrobber {
  margin-top: 5px
}

.flairselector h2 {
  margin-bottom: 10px;
  background: none
}

.side .flairselector h2 {
  text-align: left
}

.flairselector .error {
  text-align: left
}

.flairoptionpane {
  margin-bottom: 10px;
  text-align: left
}

.content .flairselector ul {
  width: 100% !important;
  max-width: none;
  padding: 6px
}

.content .flairselector .linkflair {
  text-align: center
}

.flairselector li, body .entry .buttons .flairselector li, .flairselector li:hover, .flairselector li.selected {
  border: 0;
  padding: 5px
}

.flairselector li:hover {
  background: $bgColor3;
}

.flairoptionpane a.title, .flairselector li a.author {
  display: none
}

.flair {
  vertical-align: middle;
  margin: 0 6px;
  max-width: none;
  border: 0;
  border-radius: 0;
  padding: 1px 6px;
}

.flair {
  font-size: 11px !important
}

.flair-red, .flair-green, .flair-blue {
  padding: 0;
  padding-right: 6px
}

.flair-red, .linkflair-red .title > .linkflairlabel, .flairselector .linkflair-red > .linkflairlabel {
  background: $flairRedBg;
}

.flair-green, .linkflair-green .title > .linkflairlabel, .flairselector .linkflair-green > .linkflairlabel {
  background: $flairGreenBg;
}

.flair-blue, .linkflair-blue .title > .linkflairlabel, .flairselector .linkflair-blue > .linkflairlabel {
  background: $flairBlueBg;
}

.flair-red:before, .flair-green:before, .flair-blue:before {
  display: inline-block;
  margin-right: 6px;
  padding: 1px 6px;
  background: $bgColor4;
}

.flair-red:before {
  content: "Red flair"
}

.flair-green:before {
  content: "Green flair"
}

.flair-blue:before {
  content: "Blue flair"
}

.flairselector form {
  border-top: 1px solid $borderColor1;
}

.side .usertext {
  margin-top: 10px;
  border-top: 1px solid $borderColor1;
  font-size: 12px;
  color: $fontColor;
}

.titlebox .bottom {
  border-top: 1px solid $borderColor1;
  border-bottom: 1px solid $borderColor1;
  padding: 6px 0;
  font-size: 12px;
  color: $fontColorLessDominant;
}

.titlebox .age {
  display: block;
  margin-top: 5px;
  float: none
}

.sidecontentbox .collapse-button, .icon-menu a:before, img.tb-moderation-tools-icons {
  display: none !important
}

.icon-menu a {
  background: none
}

.sidecontentbox {
  border-bottom: 1px solid $borderColor1;
}

.sidecontentbox .content {
  border: 0;
  padding: 0;
  padding-bottom: 10px
}

#moderation_tools {
  margin-bottom: 10px
}

body span.score {
  color: $fontColor;
}

.sidebox.create {
  margin-bottom: 10px
}

.side:after {
  display: block;
  margin-top: 10px;
  border-top: 1px solid $borderColor1;
  padding-top: 10px;
  font-size: 12px;
  color: $fontColorLessDominant;
  content: "subreddit theme: /r/Apicem by /u/Cereal_Addict"
}

.error {
  font-size: 12px !important;
  color: $fontError !important
}

.morechildren .entry a.button[style*="color: red"] {
  color: $fontThemeColor2 !important
}

.buttons li .error {
  font-size: 11px !important
}

body > .content, .res.res-commentBoxes body > .content, .modtools-page > div.content {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  margin: 0 0 0 30px;
  width: calc(100% - 381px);
  padding: 0 10px !important;
  background: $bgColor2;
  color: $fontColor;
}

body > .content > .content {
  margin: 0
}

:not(.side) + a[name=content] + .content {
  margin-right: 30px
}

body > .content:before, .reddit-infobar {
  display: block;
  overflow: hidden;
  margin-top: 0;
  height: 45px;
  border: 0;
  line-height: 45px;
  white-space: nowrap;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $fontColor;
  content: ""
}

body > .content > .spacer:nth-of-type(1) {
  display: none
}

body > .content:before {
  background: url(%%overlay%%), linear-gradient(45deg, $bgThemeColor1 20%, $bgThemeColor2 80%);
  margin-left: -10px;
  margin-right: -331px
}

:not(.side) + a[name=content] + .content:before {
  margin-right: -10px
}

.reddit-infobar {
  margin-bottom: -1px;
  border-bottom: 1px solid $borderColor1;
  padding: 0 10px;
  background: none
}

.reddit-infobar .md {
  display: inline-block;
  margin: auto 0;
  color: $fontColor;
}

.reddit-infobar.md-container-small .md p {
  font-size: 11px
}

.content .spacer {
  margin: 0
}

#siteTable_organic.organic-listing {
  border: 0;
  border-bottom: 1px solid $borderColor1;
  background: none !important
}

.link, .link.last-clicked {
  overflow: visible;
  margin: 0;
  padding: 10px 0;
  border: 0;
  border-top: 1px solid $borderColor1;
  vertical-align: top
}

.comments-page .link,
.content > .sitetable:nth-of-type(1) > .link:nth-of-type(1),
.content > .spacer > .sitetable > .link:nth-of-type(1),
.content > .spacer > .sitetable:nth-of-type(1) > .link:nth-of-type(2) {
  border-top: 0
}

.link .rank {
  display: none
}

body > .content .link.thing .midcol {
  margin-top: 0;
  margin-left: -3px;
  width: 35px
}

.comment .midcol {
  width: 35px
}

.gadget .midcol {
  width: 35px
}

.arrow {
  width: 25px;
  height: 25px;
  background: url(%%spritesheet%%) !important
}

.arrow.up {
  background-position: -145px -115px !important
}

.arrow.upmod {
  background-position: -110px -160px !important
}

.arrow.down {
  background-position: -180px -115px !important
}

.arrow.downmod {
  background-position: -75px -160px !important
}

.link .score {
  width: 35px
}

.link .score.likes {
  color: $fontUpvote;
}

.link .score.dislikes {
  color: $fontDownvote;
}

.link .entry {
  position: relative;
  overflow: visible;
  margin-left: 130px;
  min-height: 80px;
  padding: 10px
}

.comments-page .link.self .entry, .comments-page .link.over18 .entry {
  margin-left: 39px;
  background: $postContentBg;
}

.res .RES-keyNav-activeElement {
  background-color: $RESCommentOrPostSelectedBg !important;
}

.res .commentarea .RES-keyNav-activeElement .md, .res .RES-keyNav-activeElement .md-container {
  background-color: transparent !important
}

.thing p.title {
  margin-bottom: 7px
}

.thing a.title, .search-result-header > a {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: $postEntryNotVisitedLink;
}

.spam .domain, .spam .domain a {
  color: $fontColorLessDominant;
}

.thing a.title:hover {
  color: $fontThemeColor2;
}

.thing.stickied.link a.title, .tagline .stickied-tagline, .stickied.link .entry .buttons li a:hover, .stickied.link .redditSingleClick:hover, .stickied.link .entry .buttons li a.comments {
  color: $fontGreenColor;
}

.thing a.title:visited,
.thing.visited a.title,
.thing .title.visited,
.search-result :visited,
.search-result :visited > mark,
.search-result.visited .search-title,
.search-result.visited .search-link,
.search-result.visited .search-title > mark,
.search-result.visited .search-link > mark {
  color: $fontColorLessDominant !important
}

body.mod-toolbox .tb-general-button, body.mod-toolbox li a.tb-general-button, body.mod-toolbox .tb-bracket-button {
  border: 0;
  padding: 3px;
  background: $bgColor1;
}

.md h1:after {
  display: block;
  margin: 7px 0;
  width: 50px;
  height: 1px;
  background: $borderColor1;
  content: "";
  transition: .2s
}

.title + .expando-button + .expando-button {
  display: none
}

html body .content .expando-button {
  position: relative;
  margin-right: 4px;
  width: 28px;
  height: 28px;
  max-width: none;
  max-height: none;
  border: 0;
  border-radius: 20px;
  background: $expandoButtonBg !important;
  transition: .2s
}

.usertext-body .md .expando-button, .wiki-page .expando-button, .messages-page .expando-button {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle !important
}

.expando-button:before,
.res-highlight-nsfw-expando .thing.over18 .expando-button:before,
.res.res-showImages-highlightNSFWButton .thing.over18 .expando-button:before,
.expando-button:after,
.res-showImages-highlightSpoilerButton .thing.spoiler .expando-button::before {
  position: absolute;
  left: 8px;
  top: 13.5px;
  width: 12px;
  height: 1px;
  background: $expandoButtonLinesColor;
  content: "";
  transition: .3s
}

.expando-button:after {
  transform: rotate(90deg)
}

.expando-button.expanded:before {
  transform: rotate(180deg)
}

html body .expando-button.expanded:after {
  transform: rotate(180deg)
}

.link.self .entry > .expando-button.collapsed:after {
  top: 10px;
  height: 9px;
  border: 1px solid $expandoButtonLinesColor;
  border-left: 0;
  border-right: 0;
  background: none;
  transform: rotate(0)
}

.link.self .entry > .expando-button.expanded:after {
  top: 14px;
  height: 0;
  border: 0
}

.nsfw-stamp {
  border: 0;
  color: $nsfwFont;
}

.res a.voteWeight {
    background: none !important;
    color: $fontColor;
}

.link .entry .tagline, .tagline a, .entry .buttons li a, .entry .buttons li a.nonbutton, .link .redditSingleClick {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  color: $fontColorLessDominant;
}

.stamp {
  border-radius: 0
}

.rounded {
  border-radius: 0
}

body .thing .tagline .author.moderator, body .thing .tagline .author.submitter, body .thing .tagline .author.friend, body .thing .tagline .author.admin, .tagline .userattrs a {
  display: inline-block;
  margin: 0 5px;
  border-radius: 0;
  padding: 1px 6px;
  font-weight: 400;
  color: $brightColorOnColorBgFont !important
}

body > .content a.author {
  color: $fontColorEvenMoreDominant;
}

body .thing .tagline .author.submitter, body .thing .tagline .author.submitter:hover, .tagline .userattrs a.submitter {
  background-color: $authorTagSubmitterBg !important
}

body .thing .tagline .author.moderator, body .thing .tagline .author.moderator:hover, .tagline .userattrs a.moderator {
  background-color: $authorTagModeratorBg !important
}

body .thing .tagline .author.admin, body .thing .tagline .author.admin:hover, .tagline .userattrs a.admin {
  background-color: $authorTagAdminBg !important
}

.res .RESUserTagImage {
  margin-right: 5px;
  border: 0;
  background: none
}

.res .RESUserTagImage::after {
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 16px;
  background: url(%%spritesheet%%) -4px -95px/158px 225px;
  content: ""
}

.tagline .userattrs a.moderator:hover:after {
  content: "oderator, speaking officially"
}

.tagline .userattrs a.submitter:hover:after {
  content: "ubmitter"
}

.tagline .userattrs a.admin:hover:after {
  content: "dmin, speaking officially"
}

.tagline .userattrs {
  font-size: 0
}

.tagline .userattrs a {
  color: #fff
}

.link .entry .buttons li a:hover, .link .redditSingleClick:hover {
  color: $fontThemeColor;
}

.link .entry .buttons li a.comments {
  font-weight: 700;
  color: $fontThemeColor;
}

form.state-button.approve-button {
  font-size: 11px;
  color: $fontColorLessDominant;
}

.expando + ul.flat-list.buttons {
  margin-top: 10px
}

.link .expando {
  margin-bottom: 0
}

.link .usertext-body .md {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  padding: 10px;
  background: $bgColor2;
}

.nav-buttons {
  border-top: 1px solid $borderColor1;
  padding: 10px 0;
  font-size: 0
}

.nextprev a, .next-suggestions a {
  display: inline-block;
  margin-right: 10px;
  border: 0;
  border-radius: 0;
  padding: 10px;
  background: $bgButtonColor1;
  text-transform: uppercase;
  font-size: 11px;
  color: $fontColor1;
  transition: .2s
}

.nextprev a:hover, .next-suggestions a:hover {
  border: 0;
  background: $bgButtonColor3;
}

.res #progressIndicator, .res .NERPageMarker {
  margin: 0;
  width: 100%;
  height: auto;
  border: 0;
  border-top: 1px solid $borderColor1;
  border-radius: 0;
  padding: 10px;
  background: none;
  color: $fontColor;
}

.res #progressIndicator p.NERWidgetText {
  margin: 8px
}

.res #NERFail {
  width: 100%;
  border: 0
}

#NERFail .nextprev {
  margin-bottom: 10px
}

#NERFail .nextprev a, .next-suggestions a {
  display: inline-block;
  border: 0;
  border-radius: 0;
  padding: 5px;
  background: $bgThemeColor1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px
}


.footer, .footer .col {
  border: 0
}

.footer {
  display: inline-block;
  max-width: none
}

.footer .col {
  padding: 0 50px
}

.footer .flat-vert.title {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: $fontColor;
}

.footer .col li {
  padding: 5px;
  font-size: 12px
}

.md {
  color: $fontColor;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 11px !important;
  font-weight: 700 !important;
  color: $fontColor !important
}



.res .RESNotificationContent {
  padding-bottom: 10px
}

.md h1 {
  font-size: 17px !important
}

h2, .sidecontentbox .title h1 {
  margin: 10px 0;
  font-size: 14px !important
}

.sidecontentbox .title h1 {
  display: inline-block
}

.sidecontentbox a.helplink + .title {
  border-top: 1px solid $borderColor1;
}

.md del {
  text-decoration: line-through !important;
  color: $fontColorLessDominant;
}

.new-comment .md :not(pre) > code, .link .md :not(pre) > code, .usertext.border .md :not(pre) > code, .new-comment .md pre, .link .md pre, .usertext.border .md pre, .md code, .md pre {
  border: 0;
  padding: 5px;
  background: $bgColor1;
  font-family: "Courier New", monospace
}

.md a,
.search-result .search-result-body :link,
.search-result .search-result-body :link > mark {
  //border-bottom: dotted 1px $fontColor;
  color: desaturate($fontThemeColor, 10);
  font-weight: 500;
  transition: .3s;
}

.md a:hover,
.side .md a:hover,
.side blockquote:nth-of-type(2) p a:hover,
#moderation_tools ul > li > a:hover,
.comment.noncollapsed .buttons li a:hover,
a.author:hover,
body>.content a.author:hover,
.side .flairselection .flairremove a:hover,
.side a.flairselectbtn:hover,
.side .subButtons > span.RESshortcut:hover,
.side .subButtons > span.RESDashboardToggle:hover,
.commentarea .menuarea .toggle .option a:hover,
.bottommenu a:hover, .bottommenu .updated:hover
{
  //border-bottom-color: transparent;
  color: $fontThemeColor;
}

body .comment .md p > a:visited,
body h2 a:visited {
  color: $fontColorLessDominant;
}

.md hr, .content hr {
  height: 1px;
  border: 0;
  background: $borderColor1;
}

.md blockquote {
  border-left: solid 4px $borderColor1;
  padding: 10px;
  padding-left: 30px;
  font-style: italic;
  color: $fontColor;
}

.md table tr {
  border-bottom: 1px solid $borderColor1;
}

.md table tr:nth-of-type(odd) {
  background: $tableRowOddBg;
}

.md table thead tr {
  background: none !important
}

.md table th, .md table td {
  border: 0;
  padding: 10px
}

.md a[href$="/spoiler"], .md a[href$="#spoiler"], .md a[href$="/s"], .md a[href$="#s"] {
  border: 0;
  padding: 0 5px;
  background: $spoilerBg !important;
  color: $spoilerFontColor !important
}

.md a[href$="/spoiler"]:hover, .md a[href$="#spoiler"]:hover, .md a[href$="/s"]:hover, .md a[href$="#s"]:hover {
  color: $fontColor !important
}

.wiki-page > .content[role="main"] > span {
  display: block;
  margin-top: 10px
}

.wiki-page .wikititle {
  display: inline-block;
  margin-left: 10px
}

.wiki-page .wiki-page-content {
  display: block;
  margin: 10px
}

.res.wiki-page .RESBigEditorPop {
  margin-right: 0
}

.wiki-page .pageactions {
  border: 0
}

.wiki-page .pageactions .wikiaction {
  border-radius: 0
}

.wiki-page .pageactions .wikiaction-current, .wiki-page .pageactions .wikiaction:hover {
  background: $bgColor3;
}

.wiki-page .wiki-page-content .wiki > .toc > ul {
  border: 1px solid $borderColor1;
}

.searchpane {
  margin: 0;
  border: 0;
  border-bottom: 1px solid $borderColor1;
  padding: 0;
  padding-bottom: 10px;
  background: none
}

.searchfacets {
  margin: 0;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid $borderColor1;
  background: none
}

.search-page .content > .sitetable > .link:nth-of-type(1) {
  border-top: 0
}

.search-page #search {
  width: auto
}

button.search-submit-button.c-btn.c-btn-primary {
  height: 40px;
  border: 0;
  border-radius: 0;
  background: $bgThemeColor1;
}

.search-result-group {
  max-width: none
}

.search-result-group-header {
  border-bottom: 1px solid $borderColor1;
}

.search-expando.collapsed:before {
  display: none
}

.search-result :link, .search-result :link > mark {
  color: $fontColor;
}

.archived-infobar.with-icon:before {
  background-color: transparent
}

.panestack-title {
  border-top: 1px solid $borderColor1;
}

.panestack-title, .menuarea {
  vertical-align: middle;
  margin: 0;
  padding: 9.5px;
  border-bottom: 1px solid $borderColor1;
  color: $fontColor;
}

.panestack-title a.title-button.gold {
  border: 0;
  background: none;
  color: $goldFontColor;
}

.commentarea .menuarea {
  margin-top: 10px;
  margin-right: 0
}

.commentarea .menuarea, .commentarea .menuarea .toggle a {
  font-size: 12px;
  font-weight: 400;
  color: $fontColor;
}

.dropdown.lightdrop .selected {
  background: none;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 400;
  color: $fontColor;
}

.dropdown.lightdrop .selected:after {
  content: " ▾"
}

.commentarea .commentNavSortType {
  margin-right: 8px;
  font-weight: 400
}

.commentarea .commentNavSortType + .commentNavSortType {
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 8px
}

#REScommentNavToggle span:not(:first-of-type) {
  display: none
}

.gold-accent {
  border: 0;
  background: none;
  color: $goldFontColor;
}

.new-comment .usertext-body, .usertext.border .usertext-body {
  border: 0;
  background: $bgColor3;
}

.infobar {
  margin-right: 0;
  border: 0 !important;
  padding: 5px 0;
  background: none !important
}

.res.res-commentBoxes.res-commentBoxes-rounded .comment {
  border-radius: 0 !important
}

.commentarea > .sitetable > .comment {
  margin-left: 0 !important;
  margin-right: 0 !important
}

.res.res-commentBoxes .comment, .comment {
  overflow: hidden;
  margin-bottom: 0 !important;
  border: 1px solid $borderColor1 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  padding: 0 !important;
  padding-top: 8px !important
}

.res.res-commentBoxes .comment .comment, .res.res-commentBoxes .comment .comment .comment, .res.res-commentBoxes .comment .comment .comment .comment, .res.res-commentBoxes .comment .comment .comment .comment .comment, .res.res-commentBoxes .comment .comment .comment .comment .comment .comment, .res.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment, .res.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment, .res.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment, .res.res-commentBoxes .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
  background: none !important
}

.comment .midcol {
  margin-right: 0
}

.comment .entry {
  padding: 5px
}

.morechildren, .deleted.comment {
  margin-left: 10px;
  border: 1px solid $borderColor1;
  border-right: 0;
  border-bottom: 0;
  padding-bottom: 8px
}

.commentarea > .sitetable > .morechildren {
  margin-left: 0;
  padding: 8px;
  padding-right: 0
}

.commentarea > .sitetable > .morechildren > .entry {
  padding: 5px
}

.comment .morechildren > .entry {
  margin: 8px 0 0 8px
}

.comment .morechildren > .child {
  margin-top: 0
}

.collapsed .midcol {
  display: none
}

.morecomments a, .deepthread a {
  font-size: 11px !important;
  font-weight: 400 !important;
  color: $fontColorLessDominant !important
}

.deepthread:after {
  display: none
}

.deleted.comment > .entry, .collapsed .entry {
  margin: 0 0 8px 8px
}

.noncollapsed.morerecursion .entry {
  margin-left: -7px;
  margin-bottom: 8px
}

.deleted.comment > .entry > .tagline {
  font-size: 11px
}

.comment.collapsed .tagline :not(.expand), .comment.collapsed .tagline a :not(.expand), .comment.collapsed .search-result-meta :not(.expand), .comment.collapsed .search-result-meta a :not(.expand) {
  font-style: normal
}

.comment.deleted > .midcol {
  display: none
}

.comment .child, .comment .showreplies {
  border: 0
}

.sitetable > .thing.noncollapsed.morerecursion > .child {
  margin-top: 0
}

#noresults {
  padding: 10px 10px 10px 0;
}

.usertext.grayed .usertext-body {
  background: none
}

.submit-page .content > h1 {
  margin-top: 15px;
  margin-left: 10px
}

.formtabs-content {
  width: auto;
  border: 0
}

.content ul.tabmenu.formtab li a {
  margin-right: 10px;
  border: 0;
  padding: 0;
  background: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: 700
}

.tabmenu.formtab .selected a {
  color: $fontThemeColor2;
}

.formtabs-content .infobar, .content.submit .info-notice {
  border: 0;
  margin-left: 5px;
  background: none;
  font-size: 12px
}

.roundfield, .linefield, .linefield.mobile, .linefield .usertext-edit {
  width: auto;
  border: 0;
  background: none;
  color: $fontColor;
}

.roundfield span.title, .linefield .title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  font-weight: 700;
  color: $fontColor;
}

#newlink-with-image-upload div#new-link-preview, #newlink-with-image-upload span.clear-input-button {
  background: $bgColor3;
}

#newlink-with-image-upload div#suggest-title {
  position: static;
  display: inline-block;
  margin-bottom: 5px
}

#newlink-with-image-upload div#new-link-preview {
  position: relative;
  z-index: 1;
  margin-top: -2px
}

#newlink-with-image-upload div#new-link-preview:before {
  position: absolute;
  top: -25px;
  left: calc(50% - 12.5px);
  width: 25px;
  height: 25px;
  border: 12.5px solid transparent;
  border-bottom-color: $borderColor1;
  content: ""
}

div#newlink-with-image-upload .image-upload-drop-target {
  background: none
}

.roundfield .usertext-edit {
  width: 100%
}

.roundfield .usertext-edit .md {
  max-width: none
}

.roundfield textarea, .roundfield input[type=text], .roundfield input[type=url] {
  width: 100%
}

.roundfield label {
  font-size: 12px
}

.submit-page button[type="submit"] {
  margin-left: 10px
}

.linefield textarea, .linefield input[type=text] {
  width: 100%
}

.linefield .md {
  max-width: none
}

.gray {
  color: #999
}

.linefield .title + .gray, .linefield span {
  font-size: 11px
}

body .markdownEditor-wrapper {
  width: 100%
}

.commentingAs {
  color: $fontColor;
}

body .markdownEditor .edit-btn:not(.btn-macro) {
  border: 0;
  background-color: $bgColor3;
  background-image: url(%%editbuttons%%)
}

a.edit-btn {
  vertical-align: bottom
}

.help-toggle.toggle .option.active {
  display: inline-block
}

div.BEFoot button {
  margin-right: 10px
}

.RESDialogSmall.livePreview {
  margin-top: 15px
}

.res .RESDialogSmall {
  border: 1px solid $borderColor1;
  border-radius: 0
}

.res #RESConsoleTopBar.RESDialogTopBar {
  height: 50px
}

body .livePreview .md {
  margin: 0;
  padding-top: 10px;
  background: repeating-linear-gradient(-45deg, $bodyLivePreviewStripesBg1, $bodyLivePreviewStripesBg1 40px, $bodyLivePreviewStripesBg2 40px, $bodyLivePreviewStripesBg2 80px)
}

body .viewSource textarea[readonly] {
  background: repeating-linear-gradient(-45deg, $bgColor2, $bgColor2 40px, $bgColor6 40px, $bgColor6 80px)
}

.pretty-form .save-button button, .submit.content button[type="submit"] {
  margin-bottom: 15px
}

#subreddit_stylesheet > .sheets:before {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  color: $fontColorLessDominant;
  content: "Thanks for choosing Apicem! Visit /r/Apicem to leave feedback and check for updates."
}

.res #RESStyleSheetTipPane {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border: 0;
  color: $fontColorLessDominant;
}

.res #RESStyleSheetTipPane * {
  border: 0;
  padding: 0
}

.res #RESStyleSheetTipPane-header, .res #RESStyleSheetTipPane-header span.details {
  font-size: 11px;
  letter-spacing: 1px
}

.res #RESStyleSheetTipPane .RESCloseButton {
    position: static;
    display: inline-block;
    margin-left: 20px
}

.sheets {
  margin-right: 0
}

.stylesheet-customize-container #images {
  color: $fontColor;
}

form#image-upload.image-upload {
  font-size: 12px
}

.image-upload span {
  padding: 0
}

ul.image-preview-list.image-list {
  margin: 10px -0 30px;
  width: 100%;
  padding-bottom: 10px
}

ul.image-preview-list li {
  display: inline-block;
  float: none;
  margin: 0;
  width: 50%;
  height: auto;
  border-top: 1px solid $borderColor1;
  padding: 10px;
  background: $bgColor2;
}

ul.image-preview-list li:nth-of-type(even) {
  border-right: 1px solid $borderColor1;
}

ul.image-preview-list li:nth-of-type(odd) {
  margin-left: -1px;
  border-left: 1px solid $borderColor1;
}

ul.image-preview-list .description pre {
  color: $fontColor;
}

.subreddit-rules-page:before {
  display: none
}

.subreddit-rules-page {
  padding-left: 0;
  padding-bottom: 10px
}

.subreddit-rule-form .c-form-group .label.required:after {
  color: $fontColor;
}

.subreddit-rule-form .form-buttons > button {
  margin-bottom: 12px
}

.subreddit-rules-page .md-container .md .subreddit-rule-description {
  color: $fontColorLessDominant;
}

.messages-page > .content {
  color: $fontColor;
}

.message .subject .correspondent {
  border: 0;
  border-radius: 0;
  padding: 5px 8px;
  background: $bgColor3;
}

.flat-list li.selected a {
  color: $fontThemeColor2;
}

.message .tagline, .message.message-parent > .entry, .message.message-reply > .entry {
  color: $fontGreenColor;
}

.message.recipient > .entry {
  color: $fontColor;
}

.message.message-reply.recipient > .entry .head, .message.message-parent.recipient > .entry .head {
  color: $fontColorLessDominant;
}

.message.threaded .child {
  border-left: 1px dashed $borderColor1;
}

.thing.spam {
  border-left: 3px solid $borderColor5;
  background: none
}

.message.new > .entry {
  border: 0;
  background: $bgColor3;
}

.flair-settings + .tabmenu {
  font-size: 12px
}

.flair-settings + .tabmenu li {
  font-weight: 400
}

.flair-settings + .tabmenu li a {
  background: none
}

.flair-settings + .tabmenu li.selected a {
  border: 0;
  color: $fontThemeColor;
}

.tabpane-content {
  border: 0
}

.flair-jump button {
  vertical-align: top;
  margin-left: 10px
}

.usertable > .toggle {
  border: 0;
  background: none
}

.usertable > .toggle .togglebutton, .usertable > .toggle .error {
  margin: 0;
  border: 0;
  padding: 0
}

.res #RESShortcutsAddFormContainer {
  top: 30px;
  box-shadow: 0 0 10px $RESShortcutAddFormContainerShadow;
  border: 0;
  border-radius: 0;
  background: $bgColor2;
  color: $fontColor;
}

.res #addSubreddit {
  border-radius: 0;
  background: none
}

input#disableDailyTipsCheckbox {
  margin-right: 5px
}

body .blueButton, a.guider_button {
  border: 0;
  border-radius: 0;
  background: $bgThemeColor2;
}

.pageNavigator[href="#header"] {
  display: none
}

body.res-voteEnhancements-highlightScores span.score {
  color: $fontColor;
}

.side .md > blockquote:nth-of-type(1) {
  display: none
}

@media (max-width: $break-large) {
  //#header {
  //   margin: 0;
  //   height: 190px;
  //   padding-top: 30px
  // }

  //#sr-header-area {
  //  top: 0;
  //  left: 0;
  //  width: 100%
  //}

  //#header .pagename, #header .tabmenu {
  //  margin-top: 30px
  //}

  //.side {
  //  margin-right: 0
  //}

  .side .md > blockquote:nth-of-type(1) {
    display: block;
    position: absolute;
    z-index: 100;
    left: 90px;
    top: 20px;
    margin: 0;
    box-shadow: 0 0 10px $mobileFriendlyBoxShadow;
    width: 280px;
    border: 0;
    padding: 15px;
    background: $mobileFriendlyBoxBg;
    text-align: center;
    line-height: 15px;
    font-style: normal
  }

  #header:target + .side .md > blockquote:nth-of-type(1) {
    top: 45px
  }

  #header:not(:target) + .side .md > blockquote:nth-of-type(1):before {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    color: $fontColor1;
    content: "Using a mobile device?"
  }

  #header + .side .md > blockquote:nth-of-type(1):after {
    position: absolute;
    left: 0;
    bottom: -20px;
    border-top: 10px solid $borderGeneral;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid $borderGeneral;
    content: ""
  }

  .side .md > blockquote:nth-of-type(1) a {
    color: #6093c4
  }

  .side .md > blockquote:nth-of-type(1) a[href="#header"], #header:target + .side .md > blockquote:nth-of-type(1) a[href="#null"] {
    display: block
  }

  #header:target + .side .md > blockquote:nth-of-type(1) a[href="#header"], .side .md > blockquote:nth-of-type(1) a[href="#null"] {
    display: none
  }

  .side .md > blockquote:nth-of-type(1) a[href="#header"]:after {
    content: "Tap here to view the tab menu."
  }

  .side .md > blockquote:nth-of-type(1) a[href="#null"]:after {
    content: "Tap here to hide the tab menu."
  }
}